//  Omeka Styles
//  -----------------------------
//
//  Table of Contents:
//

// #. Global
// ---------

.print-only {
  display: none;
}

[type="submit"], 
[type="button"] {
  @extend .button;
}

.input-group .input-group,
.input-group .button-group,
.input-group select,
.input-group [type="text"] {
  margin-bottom: 0;
}

.field {
  margin-bottom: 2 * $global-margin;
}

select {
  width: auto;  
  background: #fff url("../images/select-arrow.svg") no-repeat;
  background-position: right 6px center;
  background-size: 8px;
  border: 1px solid $light-gray;
  margin: 0;
  padding: (.25 * $global-padding) $global-padding (.25 * $global-padding) (.25 * $global-padding) !important;
  border-radius: 3px;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="text"]:not(:only-child) {
  width: auto;
}

#skipnav {
  @extend .show-on-focus;
}

#skipnav {
  text-align: center;
  display: block;
}

.advanced-toggle {
  display: none;
}

#content {
  padding: (2 * $global-padding) $global-padding;

  @include breakpoint(small down) {
    padding: 0;
    margin: $global-margin;
  }
  
  & > h1:first-of-type {
    @extend .h2;
  }
}

body:not(.browse) #content {
  @include xy-grid-container;
  padding: (2 * $global-padding) 0;  

  @include breakpoint(small down) {
    padding: 0;
    margin: $global-margin;
  }
}

/* Styles for vertical menu layout */

body.vertical-menu {
  @include breakpoint(medium up) {
    background-color: $primary-color;   
  }
}

body.vertical-menu .off-canvas-content {
  overflow: hidden;
}

body.vertical-menu #content {
  position: relative;

  @include breakpoint(medium up) {
    background-color: $white;
    float: right;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 100vh;
      background: #fff;
    }
  }

  @include breakpoint(large up) {
    @include xy-cell(10, $gutters: 0);
    max-width: none;
    min-height: 90vh;    
    margin: 0;
  }
}

body.vertical-menu #search-container {
  border-bottom: 1px solid $light-gray;

  @include breakpoint(medium up) {
    break-before: always;
    min-height: 0;
    flex: 1;
    width: auto;
    background-color: $white;
    max-width: none;
    margin: 0;

    form {
      @include xy-grid-container();
      margin-left: 0;
    }
  }

  .advanced-toggle {
    display: block;
    width: 2.5 * $global-padding;
    background-color: transparent;
    margin-left: -2.5 * $global-padding;
    position: relative;
    z-index: 1;
    color: $dark-gray;

    &:after {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }

    &.open:after {
     content: "\f0d7"; 
    }
  }

  #advanced-form {
    padding-bottom: 0;
    display: none;

    &.open {
      display: flex;
    }
    
    input {
      margin-bottom: 0;
    }
  }
} 

body.vertical-menu #user-bar {
  width: 100%;
}

body.vertical-menu #user-bar ~ #content {
  @include breakpoint(medium up) {
    min-height: calc(90vh - 38px);
  }
}

// #. Header
// ---------

header {
  position: relative;
}

.site-title img {
  max-height: 2rem;
  width: auto;
}

.site-title h1 {
  @extend h4;
}

.site-title h1 {
  margin-bottom: 0;
}

.site-title h1 {
  @include breakpoint(small down) {
    font-weight: bold;
  }
}

.site-title img {
  margin: $global-margin 0;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a:after {
  border-color: #fff transparent transparent;
  margin-right: .5 * $global-margin;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a {
  padding-right: 2 * $global-padding;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active:hover > a {
  background-color: $primary-color;
  color: #fff;
}

header .top-bar-right,
header .top-bar-left {
  display: flex;
  align-items: center;
}

header .top-bar {
  padding: .25rem .5rem;

  @include breakpoint(small down) {
    padding: 0;    
  }
}

header .flex-fix {
  display: flex;
  flex-wrap: wrap;
}

.title-bar {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  max-height: 3 * $global-padding;
  
  button {
    margin: 0 $global-margin 0 0;
    background-color: transparent;
    color: $dark-gray;
  }
  
  img {
    height: 100%;
    width: auto;
  }
}

body.vertical-menu header .title-bar .site-title img {
  max-height: 2.5 * $global-padding;
}

.menu a.dropdown-toggle {
  display: flex;
  justify-content: space-between;
}

.vertical-menu .dropdown-toggle {
  width: 100%;
}

.submenu-toggle:after {
  border-color: #fff transparent transparent;
}

body.vertical-menu header {
  background-color: $primary-color;
  width: 100%;

  @include breakpoint(large up) {
    padding: $global-padding;     
    @include xy-cell(2, $gutters: 0);
    float: left;
  }
  
  a {
    color: $white;
  }
  
  .title-bar {
    display: flex;
  }
  
  .title-bar button {
    color: $white;
  }
  
  .site-title h1 {
    font-size: 1.125 * $global-font-size;
    font-weight: bold;  
  }
  
  .site-title img {
    max-height: none;
    max-width: 100%;
  }
  
  .vertical.menu {
    margin: $global-margin 0;
  }
  
  .vertical.menu li {
    margin: 0;
  }
  
  .vertical.menu li a {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown .vertical.menu {
    margin: 0 0 0 $global-margin;
  }
}

body.vertical-menu .vertical.menu.nested .active > a {
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1 * $global-padding;
    width: $global-padding;
    bottom: 0;
    background-color: $primary-color;
  }
}

body.vertical-menu header .desktop {
  @include breakpoint(medium down) {
    display: none;
  }
}

#primary-nav {
  display: flex;

  @include breakpoint(medium down) {
    display: block;
  }
}

.title-bar > .search-toggle {
  margin-left: auto;
  background-color: transparent;
}

#primary-nav > .search-toggle {
  @include breakpoint(medium down) {
    display: none;
  }
}

.search-toggle {
  margin: (-.25 * $global-margin) (-.5 * $global-margin);
  margin-left: (2 * $global-margin);
  padding: $global-padding;

  @include breakpoint(small down) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#search-container {
  @include xy-grid-container;
  padding: $global-padding 0;
  margin-bottom: (-3 * $global-margin);
  
  &.closed {
    display: none;
  }
  
  @include breakpoint(medium down) {
    padding: $global-padding;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: $global-margin;
  }
}

.vertical-menu #search-container.closed {
  display: block;
}

#search-form button,
#search-form .button,
#query {
  margin-bottom: 0;
}

#search-form {
  @include xy-grid;
}

#query {
  order: 1;
  height: 100%;
  width: 80%;
}

#search-form button {
  order: 2;
  width: 20%;
  padding: 0;
}

#advanced-form {
  order: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $global-padding;
  
  @include breakpoint(medium down) {
    flex-wrap: wrap;
    padding: $global-padding 0 0;
  }
}

#advanced-form p {
  margin-bottom: 0;
}

#query-types {
  display: flex;
}

#query-types label {
  margin-right: $global-margin;
}

#submit_search {
  @extend .button;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

    &.contained {
      @include xy-grid-container;
      margin-top: 2 * $global-margin;
    }
}

.banner img {
    width: 100%;
}

#content {
  @include xy-grid-container;
}

// #. Footer
// ------------------
footer {
  @include xy-grid-container;
  padding: (2 * $global-padding) 0;
  
  @include breakpoint(small down) {
    margin: 0 $global-margin;
  }
}

body.vertical-menu footer {
  background-color: $white;
  max-width: none;
  width: 100%;
  margin: 0;
  padding: $global-padding;
  min-height: 10vh;
  
  @include breakpoint(large up) {
    width: calc(100% - #{xy-cell-size(2)});
  }
}

// #. Browse
// ---------

.browse #content > h1:first-child {
  @include breakpoint(small down) {
    display: inline-block;
    margin-top: (.25 * $global-margin);
  }
}

.browse-control-mobile {
  display: none;
  
  @include breakpoint(small down) {
    display: inline-block;
    float: right;
  }
}

.browse-toggle {
    font-size: .875 * $global-font-size;
    padding: (.5 * $global-padding);

    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-left: (.5 * $global-margin);
    }
    
    &.closed:after {
      content: "\f055";
    }

    &.open:after {
      content: "\f056";
    }
}

.browse-controls {
  @include xy-grid;
  justify-content: space-between;
  align-items: center;
  margin: 0 (-.5 * $global-margin);
  font-size: .875 * $global-font-size;
  clear: both;
  
  input,
  select,
  button,
  .button {
    font-size: .875 * $global-font-size;
    padding: (.5 * $global-padding);
  }

  .sorting select {
    margin-right: .5 * $global-margin;
  }

  @include breakpoint(small down) {
    margin: 0;
    display: none;

    &.open {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
    }
    
    &.closed {
      display: none;
    }
    
    .sorting,
    .omeka-pagination,
    .advanced-search {
      margin-bottom: $global-margin;
    }
    
    .advanced-search {
      order: 3;
    }
  }
}

.browse-controls,
.secondary-nav {
  @include top-bar-container;
  margin: $global-margin 0;
  padding: 0;
}

.browse-controls,
.browse-controls ul,
.secondary-nav,
.secondary-nav ul {
    background-color: transparent;
}

.items-nav .top-bar-left > ul,
.items-nav > ul,
.secondary-nav > ul {
  @include menu-base;

  .active a {
    @include button-style($primary-color, auto, auto);
  }
}

.resource-list,
.resource-grid {
  list-style-type: none;
  margin: (2 * $global-margin) 0;
  
  @include breakpoint(small down) {
    margin: 0;
  }
}

.resource-list {
    border-top: 1px solid $light-gray;
    clear: both;
}

.resource-list .resource {
  margin: $global-margin 0;
  border-bottom: 1px solid $light-gray;
  padding-bottom: $global-padding;
}

.resource-list .resource-meta {
  @include xy-cell(12);
}

.resource-list .media-object-section:last-child:not(:nth-child(2)) {
 padding-left:0;
}

.resource-list .resource-image {
  order: 2;
  text-align: center;
  width: 25%;
  
  @include breakpoint(medium down) {
    margin: 0;
    width: 50%;
  }
}

.has-media {
  display: inline-block;
  color: $medium-gray;

  &:after {
    content: "\f302";
    font-family: "Font Awesome 5 Free";
  }
}

.resource-list .resource-image.media-object-section img {
  max-width: 100%;
}

.resource-list .resource-meta:not(:only-child) {
  @include xy-cell(9);
  order: 1;
  
  @include breakpoint(small down) {
    width: 50%;
  }
}

.resource-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-1 * $global-margin);
}

.resource-grid .resource {
  width: 25%;
  padding: $global-padding;
  
  @include breakpoint(medium down) {
    width: 50%;
  }
}

.description:not(:last-child) {
  margin-bottom: $global-margin;
}

.description.ellipsis,
.description.ellipsis p:first-child {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.description.fadeout {
  position: relative;
  max-height: 6.5rem;
  overflow: hidden;
  
  &:after {
    content: "";
    position: absolute;
    top: 4.5rem;
    left: 50%;
    right: 0;
    height: 2.5 * $global-padding;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%);
  }
}

#item-filters ul {
    @include style-type-unordered(no-bullet);
}

#item-filters li {
  @extend .label;
}

.pagination-nav {
  display: flex;
}

.page-input {
  margin-right: $global-margin;
}

.page-input form {
  display: flex;
  align-items: center;
}

.page-input form,
.page-input input {
  height: 100%;
}

.page-input input {
  margin-bottom: 0;
  width: auto;
}

.pagination_previous a,
.pagination_next a {
  margin-bottom: 0;
}

.pagination-nav .button,
.pagination-nav .button-group {
  margin-bottom: 0;
}

.items-nav .navigation {
  @extend .menu;
}

#sort-links {
  display: flex;
  align-items: center;
  
  @include breakpoint(small down) {
    margin-top: .5 * $global-margin;
  }
}

#sort-links-list {
  @include style-type-unordered(none);
  display: flex;
  margin-bottom: 0;
}

#sort-links-list li {
  margin: 0 $global-margin;
}

.asc a,
.desc a {
  font-weight: bold;
  
  &:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    margin-left: (.25 * $global-margin);
  }
}

.desc a:after {
  content: "\f0d8";
}

.item-file > a {
  @extend .thumbnail;
}

.item-file > a {
  display: inline-block;

  img {
    vertical-align: bottom;
  }
}

.wrap > #item-images {
  text-align: center;
}

.wrap > .media-grid {
  justify-content: center;
}

.layout-toggle button {
  margin-bottom: 0;
}

.o-icon-grid:before {
    font-family: "Font Awesome 5 Free";
    content: "\f009";
    font-weight: 900;
}

.o-icon-list:before {
    font-family: "Font Awesome 5 Free";
    content: "\f03a";
    font-weight: 900;
}

.tags-label {
    font-weight: bold;
    font-family: $header-font-family;
    margin-right: .5 * $global-margin;
}

// #. Browse Tags
// --------------

.hTagcloud ul {
  list-style: none;
  margin: $global-margin (-.5 * $global-margin);
}

.hTagcloud li {
  display: inline-block;
  padding: (.25 * $global-padding) (.5 * $global-margin);
  margin-bottom: (.25 * $global-margin);
}

.popular {
  font-size: .875 * $global-font-size;
}

.v-popular {
  font-size: 1.125 * $global-font-size;
}

.vv-popular {
  font-size: 1.25 * $global-font-size;
}

.vvv-popular {
  font-size: 1.375 * $global-font-size;
}

.vvvv-popular {
  font-size: 1.5 * $global-font-size;
}

.vvvvv-popular {
  font-size: 1.675 * $global-font-size;
}

.vvvvvv-popular {
  font-size: 1.75 * $global-font-size;
}

.vvvvvvv-popular {
  font-size: 1.875 * $global-font-size;
}

.vvvvvvvv-popular {
  font-size: 2 * $global-font-size;
}

.vvvvvvvvv-popular {
  font-size: 2.25 * $global-font-size;
}

// #. Advanced Search
// ------------------

.advanced-search select {
  @include breakpoint(small down) {
    width: 100%;
    margin-bottom: 0;
  }
}

.advanced-search .value {
  margin-bottom: $global-margin !important;
}

.search-entry {
  display: flex;
}

.search-entry:first-child .advanced-search-joiner {
  display: none;
}

.advanced-search .advanced-search-terms {
  margin-right: .25 * $global-margin;
}

.advanced-search [class="field"] {
  @extend .fieldset;
}

.search-entry select {
  width: auto;
  margin-right: (.25 * $global-margin);
}

.items.advanced-search label {
  @extend .label;
}

.items.advanced-search label,
.items.advanced-search .label {
  @extend .secondary;
}

.items.advanced-search label,
.items.advanced-search .label {
  margin-bottom: (.5 * $global-margin);
}

.remove_search {
  text-indent: -9999px;
  position: relative;
  width: 2.5 * $global-padding;
  height: 2.5 * $global-padding;
  
  &:before {
    content: "\f1f8";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 1.5 * $global-lineheight;
  }
}


// #. Show
// -----------

.resource-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  word-break: break-word;  

  h2 {
    margin-right: $global-margin;
  }
}

.double.resource.show .wrap {
  padding: (2 * $global-padding) 0;
  @include xy-grid;
}

.double.resource.show #resource-values {
  order: 1;
  @include xy-cell(8);
  margin-left: 0;
  
  @include breakpoint(medium down) {
    width: 100%;
    margin-right: 0;
  }
}

.double.resource.show .media-embed,
.double.resource.show .media-list,
.double.resource.show .media-grid {
  order: 2;
  @include xy-cell(4);
  margin-right: 0;
  
  @include breakpoint(medium down) {
    width: 100%;
    margin-left: 0;
  }
}

.resource.show .media-link:not(:last-child) {
  margin-bottom: $global-margin;
}

.resource.show .media-list a {
  display: flex;
  align-items: center;
}

.resource.show .media-list img {
  max-height: 5 * $global-padding;
  margin: 0 $global-margin 0 0;
}

.resource.show .media-grid {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 (-.5 * $global-margin);
  
  .item-file {
    margin: (.5 * $global-margin);
    max-width: calc(50% - #{$global-margin});

    & > a {
      margin-bottom: 0;
    }
  }
}

.element-set {
  @extend dl;
}

.element-set h2 {
  @extend h3;
}

.element h3 {
  @extend h6;
  @extend dt;
  font-weight: bold;
}

.element-text {
  @extend dd;
}

.element {
  margin-bottom: $global-margin;
}

.inline .element-set h2 {
    @include xy-cell(4);
    text-align: right;  
}

.inline .element {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
  h3 {
    @include xy-cell(4);
    text-align: right;
  }
  
  .element-text {
    @include xy-cell(8);

    &:not(:first-of-type) {
      border-top: 1px solid $light-gray;
      margin-top: .25 * $global-margin;
      padding-top: .25 * $global-margin;
    }
  }
}

#collection h3,
#item-tags h3,
#item-citation h3,
#item-output-formats h3,
#itemfiles h3 {
  font-weight: bold;
}

.double #content {
  @include xy-grid-container;
}

.double .wrap > h1,
.double .item-pagination {
  width: 100%;
}

.double #item-metadata {
  @include xy-cell(8);
  order: 1;
  
  @include breakpoint(medium down) {
    width: 100%;
    margin: 0;
  }
}

.inline + .item-pagination {
  margin-left: xy-cell-width(4);
}

.double #item-images {
  @include xy-cell(4);
  order: 2;
}

#itemfiles .media.resource {
  height: 0;
  overflow: hidden;
}

.lightgallery-files + #other-files h3 {
  display: none;
}

.item-pagination {
  display: flex;
  margin: $global-margin 0;
  order: 3;

  & > div:not(:last-child) {
    margin-right: $global-margin;
  }
}

// #. Exhibits
// -----------

.exhibits .grid-x h1 {
  margin-top: 0;
}

#exhibit-blocks {
  float: right;
  margin: $global-margin 0;
  width: 100%;
}

@include breakpoint(medium down) {
  .exhibits.show #content > .grid-x {
    flex-wrap: wrap;
  }
  
  #exhibit-pages {
    order: 2;
    width: 100%;
    margin: 0;
  }
  
  #exhibit-content {
    order: 1;
    width: 100%;
    margin: 0;
  }
}

#exhibit-pages ul {
  @extend .vertical;
  @extend .menu;
}

#exhibit-pages ul ul {
  @extend .nested;
}

#exhibit-pages .current {
  @extend .active;
}

#exhibit-page-navigation {
  margin: (2 * $global-margin) 0;
  display: flex;
}

#exhibit-page-navigation div {
  width: auto;
  margin-right: $global-margin;
}

#exhibit-page-navigation .next-page,
#exhibit-page-navigation .previous-page {
  @extend .button;
}

#exhibit-page-navigation .next-page,
#exhibit-page-navigation .previous-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#exhibit-page-navigation .previous-page:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
}

#exhibit-page-navigation .next-page:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
}


#exhibit-page-navigation #exhibit-nav-prev {
  order: 1;
}

#exhibit-page-navigation #exhibit-nav-next {
  order: 2;
}

.layout-file-text .exhibit-items.left {
  margin: 0 (2 * $global-margin) $global-margin 0;
}

.layout-file-text .exhibit-items.right {
  margin: 0 0 $global-margin (2 * $global-margin);
}

.layout-file-text .exhibit-items .download-file {
  width: 100%;
}

.layout-file-text .exhibit-items.captions-center {
  text-align: center;
}

.layout-file-text .exhibit-items.captions-right {
  text-align: right;
}

.layout-file .exhibit-items.thumbnail {
  border: 0;
}

.layout-gallery .exhibit-item-link *, 
.layout-gallery .download-file * {
  margin-bottom: 0;
}

.layout-gallery .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.layout-gallery .gallery.captions-center {
  text-align: center;
}

.layout-gallery .gallery.captions-right {
  text-align: right;
}

.layout-gallery .gallery .exhibit-item, 
.layout-gallery .gallery .exhibit-item:nth-of-type(2n) {
  width: auto;
  max-width: 30%;
  margin: $global-margin;
}

.layout-gallery .exhibit-item-link *, 
.layout-gallery .download-file * {
  margin: 0;
  display: block;
}

.layout-gallery .gallery.with-showcase.left {
  clear: none;
  margin-right: 0;
}

// #. Search
// -----------

#search-filters > ul {
  list-style: none;
  margin-left: 0;
  
  li,
  ul {
    display: inline;
    margin: 0;
  }
  
  & > li {
    @extend .label;
  }
  
  & > li {
    @extend .secondary;
  }
  
  li li {
    text-transform: lowercase;
    
    &:not(:last-child):after {
      content: ", "
    }
  }
}

#search-results {
  margin: $global-margin 0;
}

// #. Home
// -------

.vertical-menu .grid-container {
  margin: 0;
}

.featured-records {
  @include xy-grid;
  align-items: center;
  margin: 0 #{-.5 * $global-margin};
  
  .record {
    position: relative;
    margin-bottom: $global-margin;
  }

  .image {
    display: block;
    width: 100%;

    img {
      width: 100%;
    }
  }
}


@include breakpoint(medium up) {
  .main.featured {
    @include xy-cell(8, null, $global-margin);
  }
  
  .supporting.featured {
    @include xy-cell(4, null, $global-margin);
  }  
}

.featured-records .label {
  position: absolute;
  top: $global-margin;
  left: $global-margin;
  max-width: calc(100% - #{2 * $global-margin});
}

.featured-records h3 {
  position: absolute;
  bottom: $global-margin;
  left: $global-margin;
  width: calc(100% - #{2 * $global-margin});
  font-size: 1.25 * $global-font-size;
  line-height: 1.25;
  
  a {
    color: #fff;
    background-color: $primary-color;
    display: inline;
    box-shadow: 6px 0 0 $primary-color, -6px 0 0 $primary-color;
    box-decoration-break: clone;
  }
}

.featured-records .description {
  display: none;
}

#intro {
  margin: $global-margin 0;
  padding: $global-padding;
  font-size: 1.3125 * $global-font-size;
}

.supporting-content {
  @include xy-grid;
  
  h2.text-center,
  hr {
    width: 100%;
  }
}

.other {
  width: 100%;
  
  .total {
    font-size: 1.5 * $global-font-size;
    text-align: center;
    margin-bottom: 2 * $global-margin;
    
    .count {
      font-size: 2 * $global-font-size;
      display: block;
    }
  }
}

.recent-items {
  text-align: center;
  
  .image,
  .record-meta {
    margin: auto;
  }
  
  .record {
    @include xy-grid;
    border-bottom: 1px solid $light-gray;
    padding: $global-padding 0;
  }
    
  h3 {
    font-size: 1.25 * $global-font-size;
  }
  
  .view-items-link {
    padding: $global-padding;
  }
}

@include breakpoint(medium up) {  
  .recent-items {
    text-align: left;
    @include xy-cell(8);
  }

  .recent-items .image {
    @include xy-cell(4);
    text-align: right;
    margin-top: 0;
  }
  
  .recent-items .record-meta {
    @include xy-cell(8);
  }
  
  .other {
    @include xy-cell(4);
  }
}
