/* Small only < 640px */
/* @media screen and (max-width: 39.9375em) {} */

/* Medium and up 640px > */
/* @media screen and (min-width: 40em) {} */

/* Large and up 1024px > */
/* @media screen and (min-width: 64em) {} */

body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  background-color: #f3f2f1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

a {
  color: #0065a2;
}

/* BANNER */

.masthead-wrapper {
  background-color: #235f9c;
}

.masthead {
  display: flex;
  flex-wrap: nowrap;
  background-color: #235f9c;
  padding: 0;
}

@media screen and (min-width: 40em) {
  .masthead {
    flex-wrap: wrap;
  }

  .masthead::before {
    content: '';
    background-color: #114981;
    z-index: 0;
    width: calc(50% - 100px);
    position: absolute;
    height: 99px;
    left: 0;
  }
}

.library-logo,
.exhibits-logo {
  background-color: #114981;
  padding: 0;
}

.library-logo {
  padding: 3% 0 0 3%;
}

.exhibits-logo {
  padding: 3% 0 0 0;
}

@media screen and (min-width: 40em) {
  .library-logo {
    padding: 23px 0 23px 23px;
  }
  
  .exhibits-logo {
    padding: 23px 0 23px 0;
  }
}

.library-logo,
.exhibits-logo,
.logo-spacer {
  z-index: 1;
}

/* .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
} */


/* NAVIGATION */

.nav-wrapper {
  border-top: 3px solid #fff;
  background-color: #464646;
}

#nav {
  text-transform: uppercase;
  font-size: .9em;
  background-color: #464646;
}

#nav [type=button]:hover {
  background-color: unset !important;
}

#nav .title-bar-title {
  /* background-color: #636363; */
}

#nav .top-bar-section .title-bar .menu-icon {
  margin: 0.75em .25em 0.25em 0.5em;
}

nav.top-bar,
nav.top-bar ul {
  background: #464646;
  padding: 0;
}

nav.top-bar ul.toggle-topbar {
  list-style: none;
}

@media only screen and (min-width: 58.75em) {
  /* nav.top-bar ul.toggle-topbar {
    display: none;
  } */
}

nav.top-bar ul.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style-type: none;
  flex-grow: 1;
}

@media only screen and (min-width: 64em) {
  nav.top-bar ul.links {
    justify-content: space-between;
    flex-grow: 0;
  }

  #nav {
    background-color: #464646;
  }
}

.top-bar ul.links li {
  list-style: none;
  display: flex;
	flex-direction: column;
  justify-content: center;
  text-transform: initial;
}

@media only screen and (max-width: 39.9375em) {
  .top-bar ul.links li {
    width: 100%;
  }
}

.top-bar ul.links li a {
  color: #fff;
  padding: 1em 1.25em;
  /* font-size: .9em; */
  font-weight: 700;
  white-space: nowrap;
}

.top-bar ul.links li a:hover {
  background: #262626;
  text-decoration: underline;
  transition: 0s;
}

.top-bar ul.links li.active a {
  background: #262626;
}

.top-bar-section .title-bar .menu-icon {
  margin: 0.75em 0 0.25em 0.25em;
}


/* CONTENT */

#content {
  background-color: #fff;
}

#exhibit-content a:hover {
  text-decoration: underline;
}


/* SIDE NAV */

#exhibit-pages .exhibit-tree-container {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: .75em;
  background: #f2f2f2;
}

@media screen and (min-width: 64em) {
  #exhibit-pages .exhibit-tree-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1em;
  }
}

#exhibit-pages ul {
  margin-bottom: .75em;
}

#exhibit-pages li a {
  color: #0065a2;
  border: 3px solid #e3e3e3;
  margin-bottom: 6px;
  background-color: #fff;
  line-height: 1.2;
  padding: .75em;
}

#exhibit-pages li a:hover, 
#exhibit-pages li.current a {
  background-color: #0065a2;
  color: #fff;
  transition: 0s;
  font-weight: 600;
}

#exhibit-pages li.current ul li a {
  font-weight: 400;
}

#exhibit-pages li.current a::after {
  content: "»";
  margin-left: 0.25em;
}

#exhibit-pages ul li ul {
  display: none;
}

#exhibit-pages ul li.current ul {
  display: block;
}

#exhibit-pages ul li:hover ul,
#exhibit-pages ul li:focus ul {
  display: block;
}

#exhibit-pages ul li.parent ul {
  display: block;
}

#exhibit-pages ul li ul {
  margin: -7px 3px 12px 3px;
  padding: 6px 0 6px 8px;
  background: #fff;
}

#exhibit-pages ul li li {
  margin-right: 0.5em;
}

#exhibit-pages ul li.current li a {
  border: none;
  background: #fff;
  color: #235f9c;
}

#exhibit-pages ul li li a {
  border: 0;
  margin: 0;
  font-size: .9em;
  margin-left: 14px;
  line-height: 1.2;
  padding: 5px 10px 5px 0;
}

#exhibit-pages ul li li a::before {
  content: '■';
  float: left;
  margin: 0.5em 0.75em 0 0;
  color: #ccc;
  font-size: .5em;
  margin-left: -14px;
}

#exhibit-pages ul li.current li a::after {
  content: '';
}


#exhibit-pages ul li li a:hover, 
#exhibit-pages ul li.current li a:hover {
  border: 0;
  background: #fff;
  color: #235f9c;
  font-weight: 400;
}

#exhibit-pages ul li li.current a:hover {
  background: #235f9c;
  color: #fff;
}

#exhibit-pages ul li li.current a, 
#exhibit-pages ul li li.current a:hover {
  border: none;
  margin-left: -3px;
  padding-left: 17px;
  font-weight: 400;
}

#exhibit-pages ul li li a:hover::before {
  color: #235f9c !important;
}

#exhibit-pages ul li li.current a::before {
  color: #fff !important;
}


.exhibit-description p {
  margin-bottom: 0.5em;
  color: #555;
  text-align: left;
  line-height: 1.4;
}


#harmful-language-statement {
  font-size: .9em;
}

#harmful-language-statement p {
  margin-bottom: 0;
}

/* FOOTER */

#footer-wrapper {
  background-color: #eee;
  border-top: 0.375em solid #ddd;
}

footer {
  background-color: #eee;
}

@media only screen and (max-width: 39.9375em) {
  footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

footer a:hover {
  text-decoration: underline;
}

footer h2, 
footer .social-media-icons {
  border-bottom: 1px dotted #aaa;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.375em;
  font-weight: 400;
}

footer .social-media-icons {
  padding-bottom: 0;
}

footer .social-media-icons a {
  height: 1.4rem;
  width: 1.4rem;
  color: #777;
}

footer .social-media-icons a:hover {
  color: #666;
  text-decoration: none;
}

footer address {
  font-style: normal;
  font-size: .875em;
}
footer ul.list-unstyled {
  list-style: none;
  margin-left: 0;
}

footer #omeka_login_url a {
  font-weight: 700;
  border: 1px solid #ddd;
  padding: .25em .5em;
  color: #676767;
  background: #f3f3f3;
  font-weight: normal;
  font-size: .9em;
  margin-top: 1.5em;
  display: inline-block;
}

footer .right-gutter {
  margin-right: 2em;
}


/* EXHIBIT CONTENT */

.off-canvas-content {
  background-color: #fff;
}

#exhibit-content h1 {
  font-size: 1.5em;
  color: #767676;
  text-transform: uppercase;
  text-align: center;
}

#exhibit-content h2 {
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e3e3e3;
  font-size: 2em;
}

#exhibit-blocks h3 {
  padding-top: 1em;
  font-size: 1.5em
}

@media screen and (min-width: 40em) {
  #exhibit-content h2 {
    font-size: 2.3em;
  }
  #exhibit-blocks h3 {
    font-size: 1.6875em
  }
}

#exhibit-blocks p,
#exhibit-blocks li {
  font-size: 1.2em;
}

#exhibit-blocks li {
  margin-bottom: 0.5em;
}

#exhibit-blocks .exhibit-item a.download-file {
  max-width: 100%;
  margin-bottom: 1em;
  /* width: 100%; */
}

.exhibit-item .slide-meta {
  text-align: center;
}

#exhibit-blocks .exhibit-items img {
  width: 100%;
}

#exhibit-blocks .exhibit-item-caption {
  margin-bottom: 2em;
}

#exhibit-blocks .exhibit-item-caption p {
  color: #767676;
  font-size: 1.em;
  line-height: 1.2;
  /* line clamp */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#exhibit-blocks .exhibit-gallery-item .exhibit-item-caption p {
  font-size: 1.2em;
}

#exhibit-pages .exhibit-description {
  font-size: .95em;
  padding: .25em;
}

/* EXHIBIT NAV */

#exhibit-page-navigation {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
}

#exhibit-page-navigation div {
  margin-bottom: 1em;
}

#exhibit-nav-prev {
  text-align: left;
}

#exhibit-nav-next {
  text-align: right;
  flex-grow: 1;
}

#exhibit-page-navigation .next-page, 
#exhibit-page-navigation .previous-page {
  width: auto;
  height: auto;
  background-color: unset;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #1779ba;
  font-size: 1em;
}

#exhibit-page-navigation .next-page:hover, 
#exhibit-page-navigation .previous-page:hover {
  text-decoration: underline !important;
  background-color: unset;
  color: #0065a2;
}

#exhibit-page-navigation .next-page:before,
#exhibit-page-navigation .previous-page:before {
  content: '';
}

.thumbnail, .item-file>a {
  border: none;
}


/* Gallery */

.layout-lightbox-gallery .gallery {
  display: flex;
  flex-wrap: wrap;
}

.layout-lightbox-gallery .gallery-showcase,
.layout-lightbox-gallery .gallery.with-showcase,
.layout-lightbox-gallery .gallery.left, 
.layout-lightbox-gallery .gallery.right {
    width: 49%;
}

.layout-lightbox-gallery .gallery-showcase.left,
.layout-lightbox-gallery .gallery.left {
    float: left;
    margin-right: 2%;
}

.layout-lightbox-gallery .gallery-showcase.right,
.layout-lightbox-gallery .gallery.right {
    float: right;
    margin-left: 2%;
}

.layout-lightbox-gallery .gallery img,
.layout-lightbox-gallery .gallery.with-showcase img {
  max-width: 100%;
}

.exhibit-block.layout-gallery .gallery,
.exhibit-block.layout-lightbox-gallery .gallery {
  align-items: flex-start
}

.layout-gallery .gallery .exhibit-item, 
.layout-gallery .gallery .exhibit-item:nth-of-type(2n),
.layout-lightbox-gallery .gallery .exhibit-item, 
.layout-lightbox-gallery .gallery .exhibit-item:nth-of-type(2n) {
  max-width: 47.5%;
  width: 22.5%;
  margin: 0;
  margin-right: 2.5%;
  margin-bottom: 1%;
}

.layout-gallery .gallery .exhibit-item:nth-of-type(2n),
.layout-lightbox-gallery .gallery .exhibit-item:nth-of-type(2n) {
  /* margin-right: 0; */
}

.layout-gallery .gallery .exhibit-item img {
  /* margin-bottom: .5em; */
}


/* Lightbox */

#lightbox .lb-data .lb-close {
  background: url(../images/close_black.png) top right no-repeat;
}

#lightbox .lb-image {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#lightbox .lb-dataContainer {
  background: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#lightbox .lb-data .lb-caption {
  font-size: 1em;
}

#lightbox .lb-data .lb-caption p {
  color: #222;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

#lightbox .lb-data .lb-caption .title {
  text-transform: uppercase;
  display: block;
}

#lightbox .lb-data .lb-caption .item-link {
  text-align: center;
  margin-bottom: -1rem;
  margin-left: 30px;
  font-size: .95em;
}

#lightbox .lb-data .lb-details {
  min-height: 3.5em;
}


/* Item Page */


body.show h1 {
  font-size: 2.3125em;
  color: #767676;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}


/* iframe loader */
#iframe-loader iframe {
  background: #e3e3e3 url(../images/loading.gif) center center no-repeat;
}


body.items .item-file {
  margin-bottom: 2em;
}

/* Content Blocks */

.gallery-showcase.left .item-file,
.gallery-showcase.left .slide-meta {
  padding-right: 1.5em;
}

.gallery-showcase.right .item-file,
.gallery-showcase.right .slide-meta {
  padding-left: 1.5em;
}

.gallery.with-showcase.left {
  padding-right: 1.5em;
}

.gallery.with-showcase.right {
  padding-left: 1.5em;
}

.layout-gallery .gallery.right .exhibit-item, 
.layout-gallery .gallery.right .exhibit-item:nth-of-type(2n),
.layout-gallery .gallery.left .exhibit-item, 
.layout-gallery .gallery.left .exhibit-item:nth-of-type(2n),
.layout-lightbox-gallery .gallery.right .exhibit-item, 
.layout-lightbox-gallery .gallery.right .exhibit-item:nth-of-type(2n),
.layout-lightbox-gallery .gallery.left .exhibit-item, 
.layout-lightbox-gallery .gallery.left .exhibit-item:nth-of-type(2n) {
  width: 49%;
}

.gallery-showcase.captions-center .download-file,
.gallery.with-showcase.captions-center .download-file {
  margin-bottom: .5em;
}

#exhibit-blocks .exhibit-items .item-file {
  text-align: center;
}

#exhibit-blocks .exhibit-items.left.size-thumbnail,
#exhibit-blocks .exhibit-items.left.size-fullsize {
  width: 40%;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

#exhibit-blocks .exhibit-items.right.size-thumbnail,
#exhibit-blocks .exhibit-items.right.size-fullsize {
  width: 40%;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}


.exhibit-description p.archive {
  text-align: left;
  color: #505152;
  margin-top: 25px;
  font-style: italic;
  padding: 20px;
  background: #e3e3e3;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -1em;
}

.exhibit-description h3 {
  font-size: 1.2em;
}

#exhibit-blocks .exhibit-item.later-pages {
  display: none;
}