/* Small only < 640px */
/* @media screen and (max-width: 39.9375em) {} */

/* Medium and up 640px > */
/* @media screen and (min-width: 40em) {} */

/* Large and up 1024px > */
/* @media screen and (min-width: 64em) {} */

a,
.content-wrapper a {
  color: #1d6683;
}

a:hover,
.content-wrapper a:hover {
  color: #17566a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: #222;
  font-size: 2.3em;
}

button, ul, ol, dl, p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
}

.footer h3 {
  font-family: "Open Sans", Arial, sans-serif;
}

.footer ul,
.footer ol,
.footer dl,
.footer p {
  font-family: "Open Sans", Arial, sans-serif;
}

.init-cap {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 3.75em;
  display: block;
  font-weight: 900;
  float: left;
  line-height: 1em;
  margin-right: .1em;
  height: 50px;
  margin-top: -.1em;
  color: #1d6683;
}

.uppercase {
  text-transform: uppercase;
  color: #1d6683;
}


/* BANNER */

.masthead-wrapper {
  background: #111;
  overflow: visible;
}

.masthead {
  display: flex;
  flex-wrap: nowrap;
  background-color: #111;
  padding: 0;
  padding: 13px 0 13px 13px;
}

@media screen and (min-width: 40em) {
  .masthead {
    flex-wrap: wrap;
  }

  .masthead::before {
    content: '';
    background-color: #111;
  }
}

.library-logo,
.exhibits-logo {
  background-color: #111;
  padding: 0;
}

.library-logo {
  width: 100px;
}

.exhibits-logo {
  width: 175px;
}

@media screen and (min-width: 40em) {
  .library-logo {
    padding: 0;
  }
  
  .exhibits-logo {
    padding: 0;
  }
}

.library-logo,
.exhibits-logo,
.logo-spacer {
  z-index: 1;
}

/* .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
} */


/* NAVIGATION */

#nav .title-bar {
  width: 100%;
  text-align: right;
}

#nav .title-bar button {
  color: #fff;
  background-color: #024e7e;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
  margin-right: 2em
}

#nav .title-bar button:hover {
  background-color: #02385a !important;
  color: #fff;
}

/* #nav .nav-wrapper {
  max-width: 100%;
  border-bottom: 5px solid #c33138;
  border-top: 5px solid #1d6683;
} */

.nav-wrapper {
  max-width: 100%;
  /* background-color: #012169;
  border-top: 5px solid #012883; 
  border-bottom: 5px solid #001850; */

  background-color: #005f9a;
  border-top: 5px solid #016db1;
  border-bottom: 5px solid #014d7d;
}

#nav {
  text-transform: uppercase;
  font-size: .9em;
  /* background: #1d6683;
  background-image: url(../images/baskin_bg.jpg); */
  padding-bottom: .5em;
}

@media only screen and (min-width: 40em) {
  #nav {
    padding-bottom: 2em;
  }
}

#nav [type=button]:hover {
  background-color: unset !important;
}

#nav .title-bar-title {
  /* background-color: #636363; */
}

#nav sup {
  font-size: 60%;
  position: relative;
}

#nav .top-bar-section .title-bar .menu-icon {
  margin: 0.75em .25em 0.25em 0.5em;
}

nav.top-bar,
nav.top-bar ul {
  background-color: unset !important;
  padding: 0;
}

nav.top-bar ul.toggle-topbar {
  list-style: none;
}

@media only screen and (min-width: 58.75em) {
  /* nav.top-bar ul.toggle-topbar {
    display: none;
  } */
}

#nav ul.links li a:hover {
  text-decoration: none;
  /* background: #012883; */
  background: #016db1;
  color: #fff;
  border: 3px solid #fff;
  border-bottom: 3px solid #fff !important;
}

#nav ul.links ul.is-dropdown-submenu {
  border: 1px solid #185b75;
  margin-left: .1em;
}

#nav ul.links ul.is-dropdown-submenu li.is-submenu-item a {
  font-size: .8em;
  text-transform: initial;
  border-bottom: 1px solid #185b75;
  margin: 0;
  text-align: left;
  font-size: .75em;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0.35em 0.75em;
}

.dropdown.menu>li.is-active>a,
#exhibit-pages ul.dropdown>li.is-active>a,
.items-nav .dropdown.navigation>li.is-active>a {
  color: #fff;
}

nav.top-bar ul.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style-type: none;
  flex-grow: 1;
}



@media only screen and (min-width: 64em) {
  nav.top-bar ul.links {
    justify-content: center;
  }

  #nav {
    /* background-color: #464646; */
  }
}

.top-bar ul.links li {
  list-style: none;
  display: flex;
	flex-direction: column;
  justify-content: center;
  text-transform: initial;
  width: 100%;
}

@media screen and (min-width: 64em) {
  .top-bar ul.links li {
    width: auto;
  }
}

.top-bar ul.submenu.is-drilldown-submenu {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.top-bar ul.submenu.is-drilldown-submenu li.is-drilldown-submenu-item {
  width: 50%;
  font-size: .85em;
}


.centennial-logo {
  margin-left: 1em;
  margin-right: 1em;
}

.centennial-logo.homepage img {
  /* max-width: 600px;
  width: 100%;
  adding-top: 2em;
  padding-bottom: 2em; */
  padding-top: 1em;
  padding-bottom: 1em;
}

.centennial-logo.subpage {
  padding-top: 1em;
  padding-bottom: 1em;
}

.top-bar ul.links li a {
  color: #fff;
  /* padding: 1em 1.25em; */
  padding: 0.1em .75em 0.1em .75em;
  font-weight: 600;
  white-space: nowrap;
}

.top-bar ul.links li a:hover {
  background: #262626;
  text-decoration: underline;
  transition: 0s;
}

.top-bar ul.links li.active a {
  background: #262626;
}

.top-bar-section {
  margin-top: .5em;
}

.top-bar-section .title-bar .menu-icon {
  margin: 0.75em 0 0.25em 0.25em;
}


/* NAV */

#nav ul.links li a {
  display: inline-block;
  font-size: 1em;
  /* background: #001850; */
  background: #014d7d;
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 2.1em;
  /* text-align: right; */
  /* border: 3px solid #012883; */
  border: 3px solid #016db1;
}

/* #centennial-menu {
  margin-top: .75em;
  justify-content: left;
} */
 
@media screen and (min-width: 40em) {
  /* #entennial-menu {
    justify-content: center;
  } */

  #nav ul.links li a {
    margin: 0 0.25em 0 0.25em;
    text-align: center;
  }

  #nav ul.links li.js-drilldown-back a {
    text-align: left;
  }

}

#centennial-menu .is-drilldown {
  max-width: 100% !important;
  width: 100%;
}


/* CONTENT HEADER */


.content-header {
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
}

.content-header h1 {
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: .05em;
  margin-top: 1em;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  font-size: 2.5em;
}

@media only screen and (min-width: 40em) {
  .content-header h1 {
    font-size: 3.5em;
  }
}

.content-header h1.item-title {
  font-size: 2.5rem;
  line-height: 1.4;
  hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
}

.content-header h1 .dates {
  text-transform: lowercase;
  font-size: 115%;
}


.content-header h2 {
  text-align: center;
  text-transform: uppercase;
  color: #444;
  letter-spacing: .05em;
  margin-top: 1em;
  padding-top: 1em;
  font-size: 2em;
}

@media only screen and (min-width: 40em) {
  .content-header h2 {
    font-size: 2.5em;
  }
}

.content-header h3 {
  text-align: center;
  font-style: italic;
  line-height: 1.6;
}

.intro-content p {
  font-size: 1.3em !important;
  color: #444;
}

.intro-content img.student {
  border: .5em solid #e3e3e3;
  margin-bottom: 1em;
  width: 100%;

}

@media screen and (min-width: 40em) {
  .intro-content img.student {
    margin-right: 2em;
    float: left;
    max-width: 18.75em;
  }
}


.dashed-hr {
  height: 1em;
  border-bottom: 1px dotted #e3e3e3;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.layout-file-text .exhibit-items {
    max-width: 100%;
}

.exhibit-block .exhibit-items {
  width: 50%;
}

/* @media only screen and (min-width: 640px) {

  .content-header h1 {
    font-size: 2.3rem;
  }
  .layout-file-text .exhibit-items {
    max-width: 40%;
  }

  .content-header h3 {
    font-size: 1.35rem;
    margin-right: 25%;
    margin-left: 25%;
  }

  .content-header h2 {
    font-size: 1.7rem;
  }

} */



/* CONTENT */

body,
#content,
.off-canvas-content {
  background-color: #eee;
}

#content {
  padding-bottom: 0 !important;
}

#content .grid-container {
  background-color: #fff;
}

#content .wrap {
  padding-top: 1em;
}

#exhibit-content {
  padding: 2em;
}

#exhibit-content a:hover {
  text-decoration: underline;
}



/* BREADCRUMBS */

.breadcrumb {
  /* padding-left: 1em; */
}

.breadcrumb a {
  color: #676767;
}

.breadcrumb a:hover {
  color: #185b75;
  text-decoration: underline;
}


/* Harmful language */

#harmful-language-statement {
  font-size: .9em;
}

#harmful-language-statement p {
  margin-bottom: 0;
}


/* EXHIBIT DATES */

#date-wrapper {
  /* background: #c3c3c3; */
  background: #b4b4b5;
}

.exhibit-dates {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  /* background: #c3c3c3; */
  background: #b4b4b5;
  padding-top: 1.25em;
  padding-bottom: 0.75em;
}

.exhibit-dates p {
  margin-bottom: 0;
  color: #262526;
}

.exhibit-dates .diamond {
  font-family: Arial, sans-serif;
  color: #1d6683;
  font-size: 1.5em;
  line-height: 1px;
  margin-right: 0.125em;
  margin-left: 0.125em;
}

.exhibit-dates .location {
  font-size: .9rem;
  text-transform: uppercase;
}

/* FOOTER */

#footer-wrapper,
footer {
  background-color: #333;
}

@media only screen and (max-width: 39.9375em) {
  footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

footer address,
footer h2,
footer h3,
footer li,
footer p,
footer a {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  color: #aaa;
}

footer a:hover {
  text-decoration: underline;
}

footer ul li {
  font-size: 1em;
  font-size: .85em;
  line-height: 1.1;
  margin-bottom: .5em;
}

footer h2, 
footer .social-media-icons {
  border-bottom: 1px dotted #aaa;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.375em;
  font-weight: 400;
}

footer .social-media-icons {
  padding-bottom: 0;
}

footer .social-media-icons a {
  height: 1.4rem;
  width: 1.4rem;
  color: #777;
}

footer .social-media-icons a:hover {
  color: #666;
  text-decoration: none;
}

footer address {
  font-style: normal;
  font-size: .875em;
}
footer ul.list-unstyled {
  list-style: none;
  margin-left: 0;
}

footer #omeka_login_url a {
  font-weight: 700;
  border: 1px solid #222;
  padding: .25em .5em;
  color: #eee;
  background: #444;
  font-weight: normal;
  font-size: .9em;
  margin-top: 1.5em;
  display: inline-block;
}

footer .right-gutter {
  margin-right: 2em;
}

footer .devillogo img, 
footer .dukelogo img {
  filter: brightness(400%) grayscale(100%);
}

/* EXHIBIT CONTENT */

#exhibit-blocks p,
#exhibit-blocks li {
  font-size: 1.2em;
}

#exhibit-blocks li {
  margin-bottom: 0.5em;
}

#exhibit-blocks .exhibit-item a.download-file {
  max-width: 100%;
  margin-bottom: 1em;
}

#exhibit-blocks .exhibit-items img {
  width: 100%;
}

#exhibit-blocks .exhibit-item-caption {
  margin-bottom: 2em;
}

#exhibit-blocks .exhibit-item-caption p {
  color: #767676;
  font-size: 1.em;
  line-height: 1.2;
  /* line clamp */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#exhibit-blocks .exhibit-gallery-item .exhibit-item-caption p {
  font-size: 1.2em;
}

#exhibit-pages .exhibit-description {
  font-size: .95em;
}


#exhibit-blocks ul {
    margin-left: 1.5em;
}

#exhibit-blocks ul li {
  margin-bottom: 0.5em;
  font-size: 1em;
}



/* EXHIBIT NAV */
#exhibit-page-navigation,
.item-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

.item-navigation {
  font-size: 1.2em;
}

.item-navigation .current-page {
  display: none;
}

#exhibit-page-navigation {
  margin-top: 2em;
  margin-bottom: 0;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
}

#exhibit-page-navigation div {
  margin-bottom: 1em;
  width: calc(100% - 2em);
}

@media only screen and (min-width: 40em) {
  #exhibit-page-navigation div {
    width: calc(50% - 2em);
  }
}

#exhibit-nav-prev {
  text-align: left;
}

#exhibit-nav-next {
  text-align: right;
  flex-grow: 1;
}

#exhibit-page-navigation .next-page, 
#exhibit-page-navigation .previous-page {
  width: auto;
  height: auto;
  background-color: unset;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #185b75;
  font-size: 1em;
}

#exhibit-page-navigation .next-page:hover, 
#exhibit-page-navigation .previous-page:hover {
  text-decoration: underline !important;
  background-color: unset;
  color: #842e32;
}

#exhibit-page-navigation .next-page:before,
#exhibit-page-navigation .previous-page:before {
  content: '';
}

#exhibit-page-navigation .next-page:before {
  content: '(next page) ';
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
}

#exhibit-page-navigation .previous-page:after {
  content: ' (previous page)';
}

.thumbnail, .item-file>a {
  border: none;
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a {
  padding-right: 2em
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  margin-right: 9px;
}




/* Gallery */

.exhibit-block.layout-gallery .gallery {
  align-items: flex-start
}

.layout-gallery .gallery .exhibit-item, 
.layout-gallery .gallery .exhibit-item:nth-of-type(2n) {
  max-width: 50%;
  width: 22.5%;
  margin: 0;
  margin-right: 2.5%;
  margin-bottom: 1%;
}

.layout-gallery .gallery .exhibit-item img {
  /* margin-bottom: .5em; */
}


/* Lightbox */

#lightbox .lb-data .lb-close {
  background: url(../images/close_black.png) top right no-repeat;
}

#lightbox .lb-image {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#lightbox .lb-dataContainer {
  background: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#lightbox .lb-data .lb-caption {
  font-size: 1em;
}

#lightbox .lb-data .lb-caption p {
  color: #222;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

#lightbox .lb-data .lb-caption .title {
  text-transform: uppercase;
  display: block;
}

#lightbox .lb-data .lb-caption .item-link {
  text-align: center;
  margin-bottom: -1rem;
  margin-left: 30px;
  font-size: .95em;
}

#lightbox .lb-data .lb-details {
  min-height: 3.5em;
}


/* Item Page */


/* body.show h1 {
  font-size: 2.3125em;
  color: #767676;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
} */


/* Intro Content */

.intro-nav h3 a {
  text-decoration: underline;
}

.intro-nav ul {
  list-style: none;
}

.intro-nav ul li {
  line-height: 1.4;
  padding-bottom: 0.25em;
}

#exhibit-blocks .intro-nav ul li {
  font-size: 1em;
}

.intro-nav .essay-author {
  font-size: .85em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  display: block;
}

#exhibit-blocks .essay-image p {
  text-align: center;
  color: #888;
  margin-top: 0.5em;
  font-size: .9em;
}

.intro-content {
  overflow: hidden;
}

.intro-text-left p {
  margin-bottom: 0;
}

.intro-text-left {
  padding-left: 10px;
}

.intro-text-right {
  padding-right: 10px;
  margin-bottom: 2em;
}

@media only screen and (min-width: 641px) {
  .intro-image-right {
      margin: 0 0 15px 15px;
      float: right;
      width: 250px;
  }
}

@media only screen and (min-width: 961px) {
  .intro-image-right {
      margin: 0 0 30px 30px;
  }
}

.intro-image-right,
.intro-image-left {
  text-align: center;
}

.intro-content h2 {
  font-size: 1.7rem;
  color: #1d6683;
  letter-spacing: .05em;
  margin-top: 1em;

}

.essay h2 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.essay p {
  font-size: 1.1em;
}

.essay-image {
  margin-bottom: 2em;
  text-align: center;
}

.essay-image.right {
  float: right;
  margin-left: 25px
}

.essay-image.left {
  float: left;
  margin-right: 25px
}

.essay-image.single.right,
.essay-image.single.left {
  width: calc(50% - 25px);
  margin-top: 25px;
  margin-bottom: 25px;
}

.essay-image p {
  text-align: center;
  color: #888;
  margin-top: .5em;
  font-size: .9em;
}

.essay-image.single p {
  min-width: 50%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.essay-image p a {
  color: #888;
  text-decoration: underline;
}

.essay-image p a:hover {
  color: #185b75;
  text-decoration: underline;
}

.intro-content p a {
  text-decoration: underline;
}

@media only screen and (min-width: 641px) {

  .intro-image-right {
    float: right;
  }

  .intro-image-left {
    float: left;
  }

  .intro-content {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }

  .intro-text-left {
    padding-left: 30px;
  }

  .intro-text-right p {
    padding-left: 50px;
  }

  .intro-text-right {
    padding-right: 30px;
  }

  .intro-text-left p {
    padding-right: 50px;
  }

  .intro-image-left {
    margin: 15px 15px 15px 0;
  }
  .intro-image-right {
    margin: 0 0 15px 15px;
  }

}


@media only screen and (min-width: 961px) {

  .intro-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  .essay {
    margin-left: 5%;
    margin-right: 5%;
  }

  .intro-text-left {
    padding-left: 60px;
  }

  .intro-text-right {
    padding-right: 60px;
  }

  .intro-image-left {
    margin: 30px 30px 30px 0;
  }
  .intro-image-right {
    margin: 0 0 30px 30px;
  }

  .row.intro-nav {
    margin-right: 12.5%;
    margin-left: 12.5%;
  }

}

@media only screen and (min-width: 1126px) {

  .intro-content {
    margin-left: 11%;
    margin-right: 11%;
    overflow: hidden;
  }

  .essay {
    margin-left: 5%;
    margin-right: 5%;
  }

  .intro-text-left {
    padding-left: 100px;
  }

  .intro-text-right {
    padding-right: 100px;
  }

}


/* FILTERS */

#filter-wrapper {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

#item-tags {
  width: calc(65% - 1em);
  float: left;
  text-align: center;
  margin-left: 1em;
}

#item-decades {
  width: 25%;
  float: left;
  text-align: center;
}

#text-filter {
  width: 35%;
  float: left;
}

#text-filter [type=checkbox]+label {
  margin-left: .25em;
  margin-right: 0;
}

#single-item-tags {
  margin-bottom: 1em;
  overflow: hidden;
  text-align: center;
}

#single-item-tags.tags-left {
  text-align: left;
}

#title-search {
  width: 100%;
}



/* filters as buttons */

#item-tags label,
#single-item-tags a.tag {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  margin: 0 5px 5px 0;
  background-color: #fcda73;
  color: #5e5028;
}


#item-tags label:hover,
#single-item-tags a.tag:hover {
  background-color: #dbbd64;
}

#item-tags input {
  display: none;
}

#item-tags input:checked + label {
  background-color: #7c5723;
  color: #fff;
}


#item-decades label,
#single-item-tags a.decade {
  display: inline-block;
  padding: 5px 10px;
  background-color: #005f9a; 
  color: #fff;
  cursor: pointer;
  position: relative;
  margin: 0 5px 5px 0;
}

#item-decades label:hover,
#single-item-tags a.decade:hover {
  background-color: #01436c;
}

#item-decades input {
  display: none;
}

#item-decades input:checked + label {
  background-color: #01436c;
  color: #fff;
}


/* Filter buttons */

.filter-toggle {
  display: block;
  text-align: right;
}

#hideFilters,
#showFilters {
 border: 1px solid #ccc;
 padding: 3px;
 font-size: .9em;
 cursor: pointer;
}

#hideFilters {
  margin-top: 1em;
}

#showFilters {
  margin-bottom: 2em;
}

#hideFilters:hover,
#showFilters:hover {
  background-color: #eee;
}

/* MASONRY GRID */

#exhibit-blocks ul#items {
  /* margin-left: 32px; */
  margin: 0 !important;
  clear: both;
}

#items .masonry-item {
  width: 100%;
}

@media only screen and (min-width: 801px) {
  #items .masonry-item {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  #items .masonry-item {
    width: 33.3%;
  }
}

#items .masonry-item .image-wrapper {
  border: 10px solid #e6e6e6;
} 

#items .masonry-item .date {
  position: absolute;
  top: 10px;
  right: 15px;
} 

#items .masonry-item .text-wrapper {
  position: absolute;
  top: 0;
  padding: 1.5em 1.25em;
  line-height: 1.2;
  background: #333;
  padding: 0.75em;
  color: #fff;
  /* background-color: #003366; */
  background-color: #014d7d;
  /* display: none; */
  display: block;
}

#items .masonry-item:hover .image-wrapper {
  border: 10px solid #1d6683;
}

/* #items .masonry-item:hover .text-wrapper {
  display: block;
} */

@media only screen and (min-width: 40em) {
  #items .masonry-item .text-wrapper {
    display: none;
  }

  #items .masonry-item:hover .text-wrapper {
    display: block;
  }
}

#items .masonry-item .text-wrapper a {
  color: #222;
}

#items .masonry-item .text-wrapper a:hover {
  text-decoration: none;
}

#items .masonry-item .text-wrapper h3 {
  font-size: 1.3em;
  line-height: 1.1;
  font-weight: 600;
}

#items .masonry-item .text-wrapper p {
  font-size: .9em;
  line-height: 1.4;
}




/* ITEM PAGE */

.item-image-wrapper .item-file img,
.item-image-wrapper a.download-file {
  width: 100%;
}

@media only screen and (min-width: 801px) {
  .item-image-wrapper .image-jpeg {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
  }
}

@media screen and (min-width: 64em) {
  #content .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  #content .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
}

.item-content-wrapper dl {
  display: flex;
  flex-wrap: wrap;
}


.item-content-wrapper dl dt {
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.item-content-wrapper dl dd {
  width: 100%;
  padding-bottom: 15px;
  font-size: 1.1rem;
  width: 100%;
  margin: 0;
  word-break: break-word;
}

.creative-commons {
  height: 25px;
}

/* left-side metadata */

.left-metadata {
  font-size: 1em;
  border-top: 1px dotted #e3e3e3;
  padding-top: 1em;
  margin-top: 1.5em;
}

.left-metadata dl {
  
}

.left-metadata dd {
  margin-bottom: 1em;
  word-break: break-word;
}


@media only screen and (min-width: 1024px) {

  .item-content-wrapper dl dt {
      width: 30%;
      text-align: right;
      padding-right: 10px;
  }

  .item-content-wrapper dl dd {
    margin-left: auto;
    width: 70%;
    margin: 0;
    border-top: 1px solid #eee;
    padding-top: 15px;
  }

}

/* iframe loader */
#iframe-loader iframe {
  background: #e3e3e3 url(../images/loading.gif) center center no-repeat;
}


body.items .item-file {
  margin-bottom: 2em;
}

/* Explore page */

.explore-feature .caption {
  background: #333;
  color: #fff;
  padding: 1em;
  width: 100%;
  display: block;
}

.explore-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 2em;
  margin-bottom: 2em
}

.explore-columns .explore-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.explore-columns .explore-section a img {
  max-width: 100%;
  height: auto;
}

.explore-columns .explore-section a .date {
  position: absolute;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-top: 15%;
  letter-spacing: .05em;
  width: 100%;
  height: 100%;
}

.explore-columns .explore-section a:hover .date {
  background-color: rgba(0, 0, 0, 0.65);
}

.explore-columns .explore-section {
  flex: 0 0 calc(50% - 1em);
}

@media screen and (min-width: 40em) {
  .explore-columns .explore-section {
    flex: 0 0 calc(33% - 1em);
  }
}

@media screen and (min-width: 64em) {
  .explore-columns .explore-section {
    flex: 0 0 calc(25% - 1em);
  }
}

.feature-wrapper {
  clear: both;
  width: 100%;
  display: block;
  margin-bottom: 2em;
}

.feature-wrapper h3 {
  color: #988675;
  padding-top: 0;
  font-weight: 600;
  text-align: center;
  font-size: 1.75em;
}

@media screen and (min-width: 40em) {
  .feature-wrapper h3 {
    text-align: left;
    font-size: 2em;
  }
}

@media screen and (min-width: 64em) {
  .feature-wrapper h3 {
    padding-top: 1em;
  }
}

.feature-wrapper p {
  font-size: 1.1em !important;
  line-height: 1.7;
}

.feature-item {
  margin: 2em auto 1em auto;
  max-width: 70%;
}

@media screen and (min-width: 40em) {
  .feature-item {
    margin: 0 2rem 1rem 0;
    float: left;
    width: 40%;
  }
}


.feature-item img {
  width:100%;
  margin-bottom: 0;
  border: 1px solid #ccc;
}

@media screen and (min-width: 40em) {
  .feature-item img {
    margin-bottom: 1em;
  }
}

#resources {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

#resources .resource {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  #resources .resource {
    width: calc(50% - 1em);
  }
}

#resources .resource .text-wrapper {
  display: block;
  position: absolute;
  /* top: 0; */
  padding: 1em;
  width: 100%;
  background-color: rgba(1,77,125,.9);
}
#resources .resource:hover .text-wrapper {
  background-color: rgba(1,77,125,1.0);
}

#resources .resource .text-wrapper h3 {
  font-size: 1.3em;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  color: #fff;
}

#resources .resource img {
  width: 100%;
}

#student-currators {
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

#student-currators a {
  border: 6px solid #ccc;
  max-width: 130px;
}

#student-currators a:hover {
  border: 6px solid #1d6683;
}

#student-currators a img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  #student-currators {
    gap: 2em;
  }
  #student-currators a {
    max-width: 185px;
  }
}

.item-more {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px dotted #e3e3e3;
}

.item-more a {
  text-transform: uppercase;
}

.item-more a::after {
  content: ' ▶';
  padding-left: .5em;
}

#events .large-4 {
  margin-bottom: 1em;
}

#events .large-8 {
  margin-bottom: 2em;
}

@media screen and (min-width: 40em) {
  #events .large-4 img {
    padding-right: 1em;
  }
}

@media screen and (min-width: 75em) {
 #centennial-menu .hide-for-large {
    display: inline !important;
  }
}

/* devil loader */

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader img {
  padding: 0 3em 3em 3em;
}