
html {
  font-size: calc( 11px + (16 - 11) * (100vw - 1280px) / (1920 - 1280) );
}

body {
  margin:0;
  padding:0;
  background: #194683;
  color: #fff;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 100%;
}

.schedule {
  width: 85.0775em;
  float: left;
}

.info {
  /* width: calc(30% - 60px); */
  width: 29em;
  float: left;
  padding-top: 66px;
  padding-left: 60px;
  padding-right: 30px;
}


.date-time {
  text-align: center;
  margin-top: 2em;
}

  .time {
    font-weight: bold;
    font-size: 7em;
    color: rgba(255,255,255,.8);
    letter-spacing: .03em;
  }

  .date {
    margin-top: -.25em;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: normal;
    color: rgba(255,255,255,.8);
    letter-spacing: .12em;
  }

  .reserve-info {
    color: rgba(255,255,255,.8);
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
  }


.room-names-table {
  margin-top: 72px;
  width: 20em;
  float: left;
}

.room-names-table th {
  padding-top: 0.54em;
  padding-bottom: 1.65em
}

.room-name {
  font-size: 2em;
  text-transform: uppercase;
}



.table-holder {
  position: relative;
  width: 100%;
}

.table-wrap {
  overflow-x: scroll;
}

.table-wrap::-webkit-scrollbar { 
    display: none; 
}

.table {
  float: left;
  background: rgba(0,0,0,.5);
  table-layout: fixed;
}

.times-table {
  margin-top: 15px;
  margin-bottom: 1em;
}

.times-table th {
  font-size: 2em;
  text-align: center;
  min-width: calc(4.375em + 8px);
}

.table-blocks {
  margin-bottom: 1.75em;
  border: 6px solid #fff;
}

.table th {
  background-color: #194683;
}

.table tr td {
  border-right: 2px solid #fff;
  background: #333;
  min-width: 4.375em;
  height: 4.375em;
  text-align: center;
  color: #fff;
}

.table tr td:nth-of-type(2n) {
  border-right: 6px solid #fff;
}

.table th:first-of-type,
.table tr td:first-of-type {
  border-left: none;
}

.table th:last-of-type,
.table tr td:last-of-type {
  border-right: none;
}

.table tr td.reserved {
  background: #003366;
  background: #162e57;
}

.table tr td.available {
  background: #44953e;
}


.table tr th.room-name {
  width: 22em;
}

.map {
  width: 100%;
}

.map img {
  width: 100%;
  height: auto;
}