
html {
  font-size: calc( 11px + (16 - 11) * (100vw - 1280px) / (1920 - 1280) );
}

body {
  margin:0;
  padding:0;
  background: #222;
  color: #fff;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

body.reserved {
  background: #003f7a;
  background: url('../images/background_reserved_11.jpg');
  background-size: cover;
}

body.available {
  background: #44953e;
  background: url('../images/background_available_1.jpg');
  background-size: cover;
}

body.unavailable {
  background: #333;
  background: url('../images/background_unavailable_1.jpg');
  background-size: cover;
}

p {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 100%;
}

.qr-code {
  float: left;
  margin-right: 3em;
}

.qr-code img {
  width: 14em;
}

.room-status {
  padding: 1.5em 4em 4em 4em;
  text-align: center;
}

.room-status h2 {
  font-size: 6.25em;
  padding: 0;
  margin: 1em 0 0 0;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.room-status h1 {
  font-size: 12em;
  padding: 0;
  margin: 0;
  margin-top: -.2em;
  letter-spacing: .03em;
}

.room-status p.timerange {
  font-weight: bold;
  font-size: 6em;
  letter-spacing: .03em;
  color: rgba(255,255,255,.7);
  text-transform: uppercase;
}

.footer {
  position: absolute;
  bottom: 6.5em;
  padding: 2em 3em 2em 3em;
  width: calc(100% - 6em);
  background: rgba(0,0,0,.2);
}

.reserve-info {
  margin-top: 2em;
}

/* .reserve-info .room {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255,255,255,.7);
} */

  .reserve-info p {
    font-size: 3em;
    letter-spacing: .03em;
    color: rgba(255,255,255,.5);
  }

  .reserve-info p.url {
    font-weight: bold;
    font-size: 5em;
  } 

.date-time {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2em;
  text-align: center;
}

  .time {
    font-weight: bold;
    font-size: 8em;
    color: rgba(255,255,255,.7);
    letter-spacing: .03em;
  }

  .date {
    margin-top: -.25em;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    letter-spacing: .12em;
  }


.schedule {
  position: absolute;
  bottom: 1em;
  border-bottom: 1px solid rgba(255,255,255,.25);
  max-width: 100%;
}

.table-holder {
  position: relative;
  width: 100%;
}

.table-wrap {
  overflow-x: scroll;
}

.table-wrap::-webkit-scrollbar { 
    display: none; 
}

.table {
  width: 100%;
  background: rgba(0,0,0,.5);
  table-layout: fixed;
}

.table th {
  border-left: 1px solid rgba(255,255,255,.25);
  border-right: 1px solid rgba(255,255,255,.25);
  border-top: 1px solid rgba(255,255,255,.25);
  padding: .3125em 0 .3125em 0;
  color: rgba(255,255,255,.5);
  font-size: .85em;
}

@media screen and (min-width: 120em) {
  .schedule {
    bottom:2.5em;
  }

  .table th {
    font-size: 1.25em;
  }
}


.table tr td {
  border-left: 1px solid rgba(255,255,255,.25);
  border-right: 1px solid rgba(255,255,255,.25);
  border-bottom: 1px solid rgba(255,255,255,.25);
  padding: .3125em 0 .3125em 0;
  background: #333;
  min-width: 2em;
  height: 2em;
  text-align: center;
  color: rgba(255,255,255,.5);
}

.table th:first-of-type,
.table tr td:first-of-type {
  border-left: none;
}

.table th:last-of-type,
.table tr td:last-of-type {
  border-right: none;
}

.table tr td.reserved {
  background: #003366;
}

.table tr td.available {
  background: #44953e;
}

