@import "base";
@import "skeleton";

/* @group ----- Generic ----- */

* { box-sizing: border-box; }

body {
    font: $base-font-size Helvetica, Arial, sans-serif;
    line-height: $base-line-height;
    color: #333;
    background: #fff;
}

form, fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    display: inline-block;

    & + label {
        display: inline-block;
    }
}

    /* -- Headings -- */

    h1, h2, h3, h4, h5, h6 { margin-bottom: $base-line-height; }

    h1, h2, h3 {
        font-weight: normal;
        font-family: 'Gill Sans MT', 'Gill Sans', sans-serif;
        color:#015581;
    }

    h1 {
        font-size: 2.5 * $base-font-size;
        line-height: 2 * $base-line-height;
        text-transform:uppercase;
        letter-spacing: .1em;
        word-break: break-word
    }

    h2 {
        font-size: 2 * $base-font-size;
        line-height: 2 * $base-line-height;
    }

    h3 {
        font-size: 1.5 * $base-font-size;
        line-height: $base-line-height;;
        color:#015581;
    }

    h4, h5 {
        font-size: 1.25 * $base-font-size;
        line-height: $base-line-height;
    }

    h4 { font-weight:bold; }

    h5 { font-style:italic; }

    h6 { color:#666; }

    h1 a, h2 a, h3 a { text-decoration:none; }

    /* -- Misc Block elements -- */

    p, ul, ol, dl { margin: $spacing-unit 0; }

    ul ul, ul ol, ol ol, ol ul { margin-bottom:0; }

    /* -- Misc Inline elements -- */
    em, i { font-style:italic; }

    strong, b { font-weight:bold; }

    abbr, acronym {
        border:none;
        font-style:normal;
    }

    blockquote {
        margin:0 3em;
        font-style:italic;
    }

    dt { font-weight:bold; }
    dd { margin-left:1.5em; }

    /* -- Tables -- */

    table { width:100%; }

    th, td {
        border-bottom:1px solid #ccc;
        margin:0;
        padding: (.5 * $spacing-unit) 0;
    }

    th {
        border-width:3px;
        text-align:left;
    }

    /* -- Links -- */
    a:link, a:visited { color: #369; }

    a:hover, a:active { color: #ff8000; }

    img a { border:none; }

/* @end */

/* @group ----- Header ----- */

header {
    @include container;
    padding: (2 * $spacing-unit) 0;
    position: relative;
}

#header-image {
    @include container;

    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
        border: solid #ccc;
        border-width: 1px 1px 0 1px;
    }
}

#site-title {
    float:left;
    width:50%;
    font-weight: normal;
    font-family: 'Gill Sans MT', 'Gill Sans', sans-serif;
    color:#015581;
    font-size: 3 * $base-font-size;
    line-height: 2 * $base-line-height;
    text-transform:uppercase;
    letter-spacing:.2em;
    position:relative;

    img {
        max-width: 100%;
        height: auto;
    }
}

#site-title a { text-decoration:none; }

#search-container {
    float:right;
    width:45%;
    position:relative;

    h2 { display:none; }

    input[type=text], button {
        border:1px solid #ccc;
        background:#fafafa;
        appearance: none;
        border-radius: 0;
        height:30px;
    }

    input[type=text] {
        padding:3px;
        width: 100%;
        behavior: url("../javascripts/boxsizing.htc");
        box-sizing: border-box;
    }

    button {
        background: #369;
        color: white;
        position: absolute;
        border: 0;
        right: 0;
        top: 0;
        width: 30px;
        text-indent: -9999px;

        &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f002";
            font-weight: 900;
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 30px;
        }
    }
}

#search-container .show-advanced.button {
    width: 30px;
    right: 30px;
    top: 0;
    bottom: 0;
    background:#369;
    border-left: 1px solid #005177;
    position: absolute;
    text-decoration:none;
    text-indent: -9999px;
    behavior: url("../javascripts/boxsizing.htc");
    box-sizing: border-box;

    &:after{
        content:"\2026";
        display:block;
        text-indent:0;
        text-align:center;
        position: absolute;
        width: 100%;
        color: #fff;
        top: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 30px;
    }
}

#advanced-form {
    display: none;
    background-color: #fff;
    overflow: auto;
    z-index: 1001;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 1.5em 1em;
    *behavior: url("../javascripts/boxsizing.htc");
    box-sizing: border-box;

    fieldset p {
        margin: 0;
    }

    & > *:last-child {
          margin-bottom: 0;
    }

    &.open {
        display: block;
    }
}

#advanced-form input[type="radio"] { margin-right: 5px;}

#search-form #query-types { margin-bottom: $base-line-height; }

#skipnav {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#skipnav:focus {
    top: 0;
    z-index: 9999;
    clip: initial;
    height: auto;
    width: auto;
    padding: .5em;
    border: 1px blue dashed;
    color: #ff8000;
}

/* @end */

/* @group ----- Navigation ----- */

.navigation {
    list-style:none;
    margin:0;
    padding-left: 0;

    a { text-decoration:none; }

    li { float: left;}
}

#admin-bar ul { display: inline-block; }


#primary-nav {
    clear:both;
    @include container;
    z-index: 50;

    /* mega menu list */
    .nav-menu {
        display: flex;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 100;
        overflow: visible;
        flex-wrap: wrap;
        align-items: stretch;
        border-right: 1px solid #ccc;
    }

    li {
        list-style-type: none;
        margin: 0;
        position: relative;
    }

    /* a top level navigation item in the mega menu */
    .nav-item {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        float:none;
        position: relative;
        overflow: visible;
        flex:1 0 auto;

        &:first-child > a { border-left: 1px solid #ccc; }
    }

    /* first descendant link within a top level navigation item */
    .nav-item > a {
        position: relative;
        display: inline-block;
        margin: 0;
        border-left :1px solid #ccc;
        border-top :1px solid #ccc;
        height: 100%;
        width: 100%;
    }

    /* focus/open states of first descendant link within a top level
       navigation item */
    .nav-item > a:focus,
    .nav-item > a.open {
        border: 1px solid #dedede;
        border-right: 0;
        margin: 0 -1px 0 0;
        border-bottom: 0;
    }

    /* open state of first descendant link within a top level
       navigation item */
    .nav-item > a.open {
        background-color: #fafafa;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            right: -1px;
            width: 1px;
            top: 0;
            background-color: #dedede;
            bottom: 0;
        }
    }

    /* sub-navigation panel */
    .sub-nav {
        position: absolute;
        display: none;
        margin-top: 0;
        padding: 0;
        border: 1px solid #dedede;
        background-color: #fff;
        min-width: calc(100% + 1px);
        z-index: 999;
    }


    /* sub-navigation panel open state */
    .sub-nav.open {
        display: block;
        width: skeleton-column-width(3);

        li {
            width: 100%;
        }
    }

    .subnav a:hover + ul,
    .subnav a:focus + ul {
        display: block;
        position: absolute;
        top: (2 * $spacing-unit);
        margin-top: 1px;
        z-index: 1000;
        box-shadow: 0 3px 5px #ccc;
    }

    /* list of items within sub-navigation panel */
    .sub-nav ul {
        vertical-align: top;
        margin: 0;
        padding: 0;

        a {
            margin-top: (-.5 * $spacing-unit);

            &:before {
                content: "\2014";
                margin-right: (.25 * $spacing-unit);
            }
        }
    }

    /* list item within sub-navigation panel */
    .sub-nav li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .sub-nav > li {
        border-bottom: 1px solid #ccc;
    }

    .sub-nav a {
        width: 100%;
    }

    a {
        behavior: url("../javascripts/boxsizing.htc");
        box-sizing: border-box;
        text-decoration:none;
        display:block;
        padding: (.5 * $spacing-unit) 18px;
        background:#fafafa;
    }

    a:hover,
    a:focus,
    li.active > a {
        color:#ff8000;
        position: relative;
        z-index: 1;
    }

    [aria-haspopup="true"]:after {
        font-family: "Font Awesome 5 Free";
        content: "\f0da";
        font-weight: 900;
        margin: -1px 0 0 .5em;
        display: inline-block;
        width: $spacing-unit;
        text-align: center;
    }

    [aria-haspopup="true"].open:after {
        content: "\f0d7";
    }
}

#secondary-nav, .secondary-nav {
    margin-bottom: $spacing-unit;
    overflow: auto;
    border-bottom:1px solid #ccc;
    clear: both;

    li {
        padding: $spacing-unit 0;
        margin-right: 20px;
    }

    a { color:#666; }

    .active a {
        background:#fff;
        color:#333;
        font-weight:bold;
    }

    .tags .nav-browse-all a {
        font-weight:normal;
        border:none;
        border-bottom:1px solid #fff;
        background:none;
    }
}

#mobile-nav { display:none; }

/* Pagination Classes */

.pagination {
    float: left;
    padding-left: 0;
    margin: 0 0 $spacing-unit 0;

    ul {
        margin-left:0;
    }

    li {
        height: (2 * $spacing-unit);
        border: solid #e7e7e7;
        border-width: 1px 0 1px 1px;
        float: left;
        list-style-type: none;

        &:last-of-type { border-right: 1px solid #e7e7e7; }
    }

    a, form {
        text-decoration:none;
        padding: 0 10px;
        line-height: 2 * $base-line-height;
        display:inline-block;
    }
}

.page-input input[type=text] {
    border: 1px solid #ccc;
    text-align: right;
    width: 50px;
    margin-right: 5px;
    display: inline-block;
}

/* @end */

/* @group ----- Global selectors ----- */

#content {
    overflow:hidden;
    border:1px solid #ccc;
    background:#fff;
    @include container;
    padding: (1 * $spacing-unit) 10px;
    z-index: 0;
}

.hidden {
    display: none;
}

.image {
    float: left;
    margin: 0 $spacing-unit $spacing-unit 0;
}

.image img {
    border: 1px solid #ccc;
    float: left;
    padding: 2px;
    width: auto;
    vertical-align: top;
    height: 100%;
}

.item-file img {
    max-width: 100%;
}

.record {
    clear: both;
    overflow: auto;
}

#sort-links + .item,
#sort-links + .collection,
nav + .exhibit {
    border-top: 1px solid #eee;
}


.item + .pagination-nav ul,
.collection + .pagination-nav ul,
.exhibit + .pagination-nav ul {
    margin-top: $spacing-unit;
}

/* @end */

/* @group ----- Home Page ----- */

#home {
    #primary {
        float:left;
        @include columns(8);
        @include alpha;
        margin-right: 0;
        padding-right: 10px;
    }

    #secondary {
        float:right;
        @include columns(8);
        @include omega;
        padding-left: 10px;
    }

    #content h2 {
        text-transform:uppercase;
        letter-spacing:.1em;
    }
}

.featured,
#featured-exhibit {
    overflow:hidden;
    background:#eee;
    padding: $spacing-unit 20px;
    margin-bottom: $spacing-unit;

    h2 { margin: 0; }

    h3 { margin: 0 0 $spacing-unit; }

    img {
        float: left;
        border: 1px solid #ccc;
        padding: 2px;
        height: (7 * $spacing-unit);
        width: auto;
        background-color: #fff;
    }
}

#recent-items .item {
    overflow:hidden;
    border-bottom:1px solid #ccc;
    margin-bottom: $spacing-unit;

    .image {
        height: (4 * $spacing-unit);
    }

    h3 {
        margin-top: 0;
    }
}

.view-items-link {
    margin-bottom: $spacing-unit;
}

.collections.show .view-items-link {
    font-size: 1.25 * $base-font-size;
}

/* @end */

/* @group ----- Items ----- */

.items #content {
    @include container;
    padding: (1 * $spacing-unit) 10px;
}

#next-item { float: right; }

.item-description a.show {
    padding-left:5px;
    display:inline;
}

.sort-label { display: inline-block; }

#sort-links-list {
    display: inline-block;
    margin: (.5 * $spacing-unit) 0 (.5 * $spacing-unit) 10px;
}

.desc a:after, .asc a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    height: 0;
    width: 0;
    text-decoration: underline;
    margin-right: 10px;
}

.desc a:after {
    content: "\00a0\f0d8";
}

.asc a:after {
    content: "\00a0\f0d7";
}

ul.title-list {
    margin:0;
}

.title-list li {
    font-size: 1.2em;
    line-height: 1.5em;
    font-style:italic;
}

#item-images {
  overflow:hidden;
  margin-bottom:18px;
  margin-right:-10px;
}

.fullsize {
  margin-right:10px;
}

#item-image img {
  width:100%;
  }

    .items.show h3 {
        margin-bottom: .5 * $spacing-unit;
    }

/* Items Classes*/
.element {
    overflow:hidden;
    clear:both;
    margin-bottom: $spacing-unit;
}

.browse .item {
    clear: both;
    border-bottom:1px solid #eee;
    padding: (2 * $spacing-unit) 0;
    float: left;
    width: 100%;
}

.item-pagination {
    clear:both;
    overflow:hidden;
    border-top:1px solid #eee;
    padding-top:18px;
}
    .item-pagination a {
        text-decoration:none;
        font-weight:bold;
        float:left;
    }
    .item-pagination .next a {
        float:right;
        text-align:right;
    }

.item .tags {
    clear:left;
    margin-left:216px;
}

.item .item-file a {
    display: block;
    height: (6 * $spacing-unit);

    img {
        height: 100%;
        width: auto;
    }
}

.item h2 {
    margin-top: 0;
}


/* Tags Classes */
.tags li {
    display:inline;
}

/* Tag Clouds */
.hTagcloud ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
    .hTagcloud li {
        display:inline;
        margin-right:3px;
    }
    .popular a {
        font-size:120%;
    }
    .v-popular a {
        font-size:140%;
    }
    .vv-popular a {
        font-size:180%;
    }
    .vvv-popular a {
        font-size:220%;
    }
    .vvvv-popular a {
        font-size:260%;
    }
    .vvvvv-popular a {
        font-size:300%;
    }
    .vvvvvv-popular a {
        font-size:320%;
    }
    .vvvvvvv-popular a {
        font-size:340%;
    }
    .vvvvvvvv-popular a {
        font-size:360%;
    }


/* @end */

/* @group ----- Items/Browse ----- */

.browse .item h2,
.browse .item-meta .item-img {
    @include columns(4);
}

.browse .item h2 {
    @include alpha;
    margin-bottom: 0;
    max-width: 100%;
}

.browse .item-meta .item-img {
    @include omega;
    float: right;
    text-align: right;
}

.browse .item-img img {
    height: (7 * $spacing-unit);
}


.browse .item-meta {
    @include columns(12);
    margin: 0;
    max-width: 100%;

    p:first-of-type { margin-top: 0; }
}

.browse .item-meta > div {
    @include columns(8);
    margin: 0;
    max-width: 100%;
}

.browse .item-meta .item-description {
    margin-bottom: $spacing-unit;

    &:only-of-type { margin-bottom: 0; }
}

#sort-links{
    float: right;
    list-style-type:none;
    padding: 0;
    display:block;

    ul { padding-left: 0; }

    ul li {
        padding-left: 10px;
        display: inline-block;

    }
}

#outputs { clear: both; }

.item-img a {
    display: block;
}

/* @end */

/* @group ----- Items/Search ----- */

.field {
    margin-bottom: $spacing-unit;
    overflow: hidden;
}

.search-entry:first-child .advanced-search-joiner { display: none; }

.search-entry select { margin-bottom: .5 * $spacing-unit; }

.search-entry input[type=text] { display: inline-block; }

.remove_search {
    text-indent: -9999px;
    width: $base-line-height;
    position: relative;
    height: $base-line-height;
    color: #666;

    &:after {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        text-indent: 0;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        line-height: $base-line-height;
    }
}

/* @end */

/* @group ----- Collections/Browse ----- */

.browse .collection.record,
.browse .exhibit {
    clear: both;
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
    padding-top: $spacing-unit;

    .view-items-link { margin-bottom: 1.5 * $spacing-unit; }

    h3 { margin: 0; }
}

.collection .element-text p:only-child { margin-bottom: 0; }

.collection .image,
.exhibit .image {
    display: block;
    margin: 0 $spacing-unit $spacing-unit 9px;
}

.collection .image img,
.exhibit .image img {
    box-shadow: -5px -5px 0 -1px #f2f2f2, -5px -5px 0 #ccc, -8px -8px 0 -1px #ddd, -8px -8px 0 #CCC;
}

.browse .collection h2,
.browse .exhibit h2 {
    @include columns(4);
    @include alpha;
    margin: 0 0 $spacing-unit;
    max-width: 100%;
}

.browse .collection .image,
.browse .exhibit .image {
    @include columns(3);
    @include omega;
    float: right;
    text-align: right;

    img {
        max-width: 100%;
        height: auto;
        float: none;
    }
}

.collection-meta {
    @include columns(9);
}

.collection-description p:first-of-type,
.view-items-link:only-child {
    margin-top: .5 * $spacing-unit;
}

.browse .collection .element {
    clear: none;
}

/* @end */

/* @group ----- Collections/Show ----- */

.collections .item-img {
    float: left;
    margin: 0 $spacing-unit 0 0;

    a {
        display: block;
        height: (4 * $spacing-unit);
        border: 1px solid #ccc;
        padding: 2px;
    }

    img {
        height: 100%;
        width: auto;
    }
}

.collections .item {
    overflow: hidden;
    border-top: 1px solid #ccc;
    margin-top: $spacing-unit;

    &:last-of-type {
        border-bottom: 1px solid #ccc;
        margin-bottom: $spacing-unit;
        padding-bottom: $spacing-unit - 1px;
    }
}

/* @end */

/* @group ----- Search Results ----- */

#search-results + .pagination { margin-top: 1.5 * $spacing-unit; }

#search-results td {
    vertical-align: top;
}

#search-results .image {
    float: left;
    height: (4 * $spacing-unit);
    margin: 0 $spacing-unit 0 0;

    img {
        height: 100%;
        width: auto;
    }
}

#item-filters ul, #search-filters ul {
    padding-left: 0;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    margin: (-.5 * $spacing-unit) 0 0;

    & > li {
        display: inline-block;
        background-color: #eee;
        padding: (.25 * $spacing-unit) (.5 * $spacing-unit);
        margin: 0 (.5 * $spacing-unit) (.5 * $spacing-unit) 0;
    }

    & > li:last-child:after { content: "\00A0"; }

    li ul { display:inline; }

    li ul li { 
        display:inline-block; 
        margin: 0;
        padding: 0;
    }

    li ul li:after {
        content: ", ";
        margin: 0;
    }

    li ul li:last-child:after { content: ""; }
}

/* @end */

/* @group ----- Footer ----- */

footer {
    clear:both;
    @include container;
    overflow:hidden;
    margin-top: $spacing-unit;

    a { text-decoration:none; }

    .navigation {
        font-weight:bold;

        li {
            display:inline;

            &:after {
                content: " \00B7";
                margin: 0 10px 0 5px;
            }

            &:last-child { margin: 0; }

            &:last-child:after {
                content: "\00A0";
                display: none;
            }
        }

        a {
            white-space:nowrap;
        }
    }

    nav + p {
        text-align: right;
    }
}

#footer-text {
    float:left;
    width: 48%;
}

/* @end */

/* @group ----- Exhibit Builder ----- */

.pagination + .exhibit {
    border-top: 1px solid #eee;
}

#exhibit-pages {
    width: skeleton-column-width(4, $base-width);
    display: inline-block;

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        width: skeleton-column-width(4, $tablet-width); }

    h4 {
        font-family: 'Gill Sans MT', 'Gill Sans', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
    }

    a { text-decoration: none; }

    & > ul {
        margin-left: 0;
        border-top: 1px solid #eee;
        padding-top: $spacing-unit - 1px;
        padding-left: 0;
        list-style-type: none;
    }

    & > ul > li {
        border-bottom: 1px solid #eee;
        padding-bottom: $spacing-unit - 1px;
        margin-bottom: $spacing-unit;
    }

    ul li > ul {
        padding-left: 1.5em;
        margin-left: 0;

        li { text-indent: -1.5em; }

        li:before {
            content: "\2014";
        }
    }

    li {
        list-style-type: none;
        margin-left: 0;
    }

    .current {
        font-weight: bold;

        & > *:not(a) {
            font-weight: normal;
        }
    }

    & > ul > li:not(.parent) ul {
        display: none;
    }

    & > ul > li.current ul {
        display: block;
    }
}

.secondary-nav + .exhibit {
    border-top: 0;
    padding-top: 0;
}

#exhibit-pages ul ul {
    margin: 0;
}

.exhibits #content > h1:first-of-type,
#exhibit-blocks,
#exhibit-page-navigation,
.exhibits.summary #primary {
    @include columns(12);
    @include alpha;
    padding-right: 20px;
    margin-left: 0;
}

.exhibit-page-nav a:hover,
.exhibit-page-nav a:active,
.exhibit-page-nav .current a {
    background:#ff8000;
}

.exhibit-pagination .next a {
    float:right;
    text-align:right;
}

#exhibit-page-navigation {
    clear: none;
    margin: (2 * $spacing-unit) 0 (1 * $spacing-unit);
}

.exhibit .description,
.exhibit .description ~ * {
    @include columns(9);

    p:first-of-type {
        margin-top: .5 * $spacing-unit;
    }
}

.exhibit .description ~ * {
    display: block;
    margin: $spacing-unit auto;
    padding: 0 40px 0 80px;
    float: none;
    box-sizing: content-box;
}

.exhibit-items .download-file:last-child {
    margin-bottom: $spacing-unit;
}

/* @end */

/* @group ----- Other plugin styles ----- */

#collection-tree{
    margin-left:auto;
    margin-right:auto;
}

#recaptcha_area input {
    display: inline;
}
/* @end */
