html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  color: #222;
  /* background-color: #fff; */
  background-color: #ccc;
}

body {
  margin: 3em;
}

a,
.content-wrapper a {
  color: #1d6683;
}

a:hover,
.content-wrapper a:hover {
  color: #17566a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: #222;
  font-size: 2.3em;
}

button, ul, ol, dl, p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
}



/* iframe loader */
#iframe-loader iframe {
  background: #e3e3e3 url(../images/loading.gif) center center no-repeat;
}


body.items .item-file {
  margin-bottom: 2em;
}


.feature-wrapper {
  clear: both;
  width: 100%;
  display: block;
  margin-bottom: 2em;
}

.feature-wrapper h3 {
  color: #988675;
  padding-top: 1em;
  font-weight: 600;
}

.feature-wrapper p {
  font-size: 1.1em !important;
  line-height: 1.7;
}

.feature-item {
  margin: 0 2rem 1rem 0;
  float: left;
  width: 45%;
}

.feature-item img {
  width:100%;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

#resources {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2rem; */
  width: 100%;
  /* margin: 3em; */
}

#resources a {
  /* width: 600px; */
  width: 32.125%;
  text-align: center;
  /* margin-bottom: 0; */
  margin-bottom: 2em;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

#resources .resource {
  height: 290px;
  /* height: 310px; */
  /* height: 29.167%; */
  overflow: hidden;
}

#resources .resource .text-wrapper {
  display: block;
  position: absolute;
  top: 0;
  padding: 1rem;
  /* width: calc(600px - 2em); */
  /* width: calc(31.25% - 2rem); */
  background-color: rgba(1,77,125,.7);
}

#resources .resource .text-wrapper h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  color: #fff;
}

#resources .resource img {
  width: 100%;
}

#resources a.spacer {
  margin-left: 2em;
  margin-right: 2em;
}