#homeContainer{ 
 width: 100%; 
/*height:100%;*/
 margin: 0 auto;
 text-align:center;
}

#bloomHeader {
 width: 900px;
 background-image: url(http://library.duke.edu/exhibits/bloomsbury/images/blue_header_back.jpg); 
}

#bloomContain{ 
 width:600px;
 margin: 0 auto;

}

#bloomPageTitle{
text-align:left;
margin-top:15px;
}

#bloomIndexCover{
 float:right;
 padding: 10px;
 margin: 0 5px 10px 5px;
}

#bloomCover{
 float:right;
 padding: 10px;
 margin: 0 5px 10px 5px;
 border: 1px solid #003366;
 background-color: #faf4e4;
}

#bloomText{ 
padding: 10px 5px 0px 20px; 
text-align:left;
 
}
 
#bloomFooter{ 
 margin: 0 auto; text-align:center;

}

#bloomText p {
 font: 100%  Arial,TimesNewRoman, serif;
padding-left: 5px;
}

#thanksText  {
 margin-top: 100px;
}

.thanksHr {
 width:570px;
 color:black;
 margin-left: 0;
}


#bloomPageText{
text-align:left;
}


#bloomCaption{
text-align:left;
width:300px;
font-size:80%;
border: 1px solid #003366;
background-color: #fffff1;
margin-top:10px;
padding:3px;
}
