* {
    box-sizing: border-box;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

html {
    font-family: $body-font;
    font-weight: 400;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: #555;
}

em {
    font-weight: 400i;
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: $blue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    margin: $spacing-l 0;
}

h1 {
    font-size: 1.75 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h2 {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
}

p, ol, ul, dl, blockquote {
    margin: $spacing-l 0;
}

img {
    image-orientation:from-image;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

blockquote {
    padding: $spacing-l;
    font-size: 1.125 * $base-font-size;

    &:before,
    &:after {
        content: "";
        width: 50%;
        display: block;
        border-bottom: 1px solid $border-gray;
        margin: auto;
    }
}

table {
    margin: $spacing-l auto;
}

thead {
    font-family: $heading-font;
}

tr {
    border-bottom: 1px solid $border-gray;
}

/* @group ----- Form ----- */

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.button,
button, 
optgroup, 
select, 
textarea,
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="tel"], 
input[type="email"], 
input[type="search"],
input[type="number"],
input[type="month"]  {
    appearance: none;
    background-color: #fff;
    line-height: $base-line-height;
    font-size: $base-font-size;
    border-radius: 0px;
    border: 1px solid darken($border-gray, 25%);
    padding: $spacing-s;
    vertical-align: bottom;
    height: 1.5 * $spacing-l;
}

textarea {
    height: auto;
}

.button,
button,
[type="submit"] {
    background-color: $border-gray;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 .5em;
}

select {
    padding: $spacing-s (2 * $spacing-l) $spacing-s $spacing-s;
    background: #fff url('../img/chevron-down.svg') right $spacing-m center no-repeat;
    background-size: .75 * $base-font-size;
    appearance: none;
    max-width: 100%;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-l;
}

.inputs {
    width: 70%;
}

.field > label,
.field > .label,
.field > .two.columns,
.field-meta {
    width: 30%;
    padding-top: $spacing-s;
}

/* @end */

/* @group ----- Global ----- */

.flex {
    display: flex;
}

#content {
    padding: 0 $spacing-l;
}

a.image {
    display: block;
}

a.image img {
    vertical-align: top;
}

/* @end */

/* @group ----- Header ----- */

#skipnav {
    text-align: center;
    display: block;
    padding: $spacing-s;
    border: 2px solid $blue;
}

#skipnav:not(:focus) {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#admin-bar {
    position: relative;
    z-index: 1;
}

header {
    padding: $spacing-l $spacing-l ($spacing-l - 1px) $spacing-l;
    border-bottom: 1px solid $border-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    z-index: 1;
}

#wrap {
    position: relative;
    z-index: 2;
    background-color: #fff;
    overflow-x: hidden;
}

#site-title {
    font-size: 1.25 * $base-font-size;
    font-family: $heading-font;
    margin-right: auto;
}

#site-title img {
    max-height: 1.5 * $spacing-l;
    width: auto;
    vertical-align: top;
}

.search-toggle:before,
.menu-toggle:before,
.advanced-toggle:before {
    @include lnr;
    font-size: 1.5 * $base-font-size;
    width: 1.5 * $base-line-height;
    height: 1.5 * $base-line-height;
    line-height: 1.5 * $base-line-height;
    text-align: center;
    display: block;
}

.menu-toggle:before {
    content: $lnr-menu;
}

.search-toggle:before {
    content: $lnr-magnifier;
}

.advanced-toggle:before {
    content: $lnr-cog;
}

.mm-listitem::after {
    inset-inline-start: 0;
}

#search-container,
#advanced-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid $border-gray;
}

#search-container legend {
    font-family: $heading-font;
    font-size: 1.125 * $base-font-size;
    margin-bottom: $spacing-s;
}

#search-form {
    border-top: 1px solid #eee;
    padding: $spacing-m $spacing-l;
}

.advanced-toggle {
    display: inline-block;
}

#search-container input[type="text"] {
    border-width: 0 0 1px 0;
    margin: 0;
    width: calc(100% - #{4 * $base-line-height});
}

#search-container button[type="submit"] {
    margin: 0;
    border: 0;
    background-color: #fff;
    text-indent: -9999px;
    color: $blue;
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;

    &:after {
        @include lnr;
        text-indent: 0;
        content: $lnr-chevron-right-circle;
        display: block;
        font-size: $base-line-height;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5 * $base-line-height;
        height: 1.5 * $base-line-height;
        line-height: 1.5 * $base-line-height;
    }
}

#search-container .closed {
    display: none;
}

#search-form {
    width: 100%;
}

#advanced-form {
    padding: $spacing-l;
    border-top: 1px solid #eee;
}

#advanced-form fieldset {
    margin: 0 $spacing-l;
}

#record-types + p {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding: $spacing-l;
}

/* @end */

/* @group ----- Front Page ----- */

#home #content {
    padding: 0;
}

#home #intro {
    padding: (2 * $spacing-l);
    margin: 0;
    background-color: #f3f3f3;
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}


#home #featured-slides {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;

    &:empty {
        display: none;
    }
}

.slick-list,
.slick-track {
    position: relative;
    height: 100%;
}

#featured {
    position: relative;
}

#featured img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#featured .record {
    background-size: cover;
    background-position: center center;
    height: 100%;
}

#featured .record-meta {
    width: 100%;
    color: #fff;
    padding: $spacing-l 25%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    a { color: #fff; }

    & > * {
        position: relative;
        z-index: 2;
    }
}

#featured .resource-title {
    margin-bottom: $spacing-m;
    padding-bottom: $spacing-m - 1px;
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    font-family: $heading-font;
    text-transform: none;
    width: 100%;

    &:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
}

#featured .creator:not(:last-child):after {
    content: ",";
}

#featured-controls {
    position: absolute;
    top: $spacing-l;
    right: $spacing-l;
    z-index: 999;

    .slick-status:not(.active) {
        display: none;
    }

    button {
        appearance: none;
        background-color: #000;
        color: #fff;
        width: 1.5 * $spacing-l;
        height: 1.5 * $spacing-l;
        border: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button:not(.active) {
        display: none;
    }
}

#featured-controls button:after {
    content: "";
    display: block;
}

#featured-controls .slick-play:after {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    height: 1px;
}

#featured-controls .slick-pause:after {
    width: 4px;
    height: 10px;
    border: 1px solid #fff;
    border-width: 0 1px;
    margin: 0 auto;
}

.records {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.records .item,
.records .file,
.records .collection {
    width: calc(50% - #{2 * $spacing-l});
    padding: $spacing-l;
    margin: $spacing-l;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    img {
        max-width: 100%;
        height: auto;
    }
}

.records h3,
.records .resource-title {
    margin: $spacing-m 0;
    font-size: 1.25 * $base-font-size;
    font-family: $heading-font;
    text-transform: none;
    font-weight: 400;
    padding-bottom: $spacing-m - 1px;
    position: relative;
    width: 100%;
    display: block;

    &:not(:last-child):after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 50%;
        left: 25%;
        background-color: $border-gray;
    }
}

.records .item-meta {
    width: 100%;
    text-transform: uppercase;
    color: #757575;
}

.records .creator:not(:last-child):after {
    content: ",";
}

/* @end */

/* @group ----- Search Results ----- */


.record-type {
    font-family: $heading-font;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: $spacing-s;
}

.search .records a.image {
    margin-bottom: $spacing-l;
}

/* @end */

/* @group ----- Items/Show ----- */

.show #content > h1:first-child {
    word-wrap: break-word;
}

.show .download-file > img {
    max-width: 100%;
    height: auto;
}

.items.show:not(.gallery) .item-metadata-content {
    columns: 2;
    column-gap: $spacing-l;
}

.items.show:not(.gallery) .item-metadata h1 {
    column-span: all;
}

.items.show h1 + .item-metadata {
    columns: 2;
    column-gap: $spacing-l;
}

.items.show h1 + .item-metadata > * {
    break-inside: avoid;
}

.items.show.gallery .flex {
    height: 100vh;
    margin: 0;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.admin-bar.items.show.gallery .flex {
    margin-top: calc(41px + #{3.5 * $spacing-l});
}

.items.show.gallery #content {
    margin-top: -3.5 * $spacing-l;
    min-height: 100vh;
    border-bottom: 1px solid $border-gray;
}

.admin-bar.items.show.gallery #content {
    margin-top: calc(-41px - #{3.5 * $spacing-l});
}

.items.show div#itemfiles {
    width: 75%;
    height: 100%;
    position: relative;
}

.items.show #itemfiles-stage {
    width: 100%; 
    height: 80%;
    background: #E0E0E0; 
    margin:auto;
}

.items.show #itemfiles-nav {
    height: 20%;
    text-align: center;
    padding: $spacing-l;
    background: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #333;
}

.items.show .solo #itemfiles-stage {
    height: 100%;
}

#itemfiles > .media.resource {
    display: none;
}

#itemfiles {
  height: 100%;
  margin: 0;
  width: 100%;
  padding-bottom: 0 !important;
}

.count-1 #itemfiles {
  height: 100% !important;
}

#itemfiles > li { 
    height: 100%; 
}

#itemfiles .media-render {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#itemfiles .media-render img {
    max-height: 100%;
    max-width: 100%;
}

.items.show.gallery .item-metadata {
    width: 25%;
    padding: 0 $spacing-l;
    overflow-y: scroll;
    word-wrap: break-word;
}

.item-metadata h3 {
    margin: 0 0 $spacing-s;
}

.item-metadata .element-text {
    word-break: break-word;
}

.item-metadata .element {
    break-inside: avoid;
    border-bottom: $spacing-l solid transparent;
}


.item-metadata nav {
    margin: 0 (-$spacing-l);
    border-bottom: 1px solid $border-gray;
}

ul.item-pagination.navigation {
    column-span: all;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;

    &:after {
        content: "";
        bottom: 0;
        top: 0;
        left: 50%;
        width: 1px;
        background-color: $border-gray;
        position: absolute;
    }

    a {
        padding: $spacing-m;
        display: inline-block;
    }
}

.element-set {
    display: table;
}

/* @end */

/* @group ----- Items/Search ----- */

#advanced-search-form {
    clear: both;
    margin-top: $spacing-l;
}

.search-entry {
    display: flex;
    width: 100%;
    margin-bottom: $spacing-m;
}

.search-entry:first-child .advanced-search-joiner {
    display: none;
}

.search-entry > * {
    margin-top: 0;
    padding-right: $spacing-s;
}

.search-entry select {
    margin: 0 $spacing-s $spacing-s 0;
    width: 100%;
}

.search-entry input[type="text"] {
    margin-bottom: $spacing-s;
    width: 100%;
}

.add_search {
    margin: 0 0 $spacing-l 30%;
}

.remove_search {
    border: 0;
    width: 0;
    text-indent: -9999px;
    position: relative;
    padding: 0;

    &:after {
        @include lnr;
        content: $lnr-cross;
        position: absolute;
        left: 100%;
        width: 1.5 * $base-line-height;
        height: 1.5 * $base-line-height;
        text-indent: 0;
        top: 0;
        line-height: 1.5 * $base-line-height;
        margin: 0 $spacing-m;
    }
}

/* @end */

/* @group ----- Items/Browse ----- */

#item-filters,
#search-filters {
    align-self: flex-start;
}

#item-filters ul,
#search-filters ul {
    padding-left: 0;
    list-style: none;
}

#item-filters > ul > li,
#search-filters > ul > li {
    background-color: $border-gray;
    padding: $spacing-s;
    font-family: $heading-font;
    text-transform: uppercase;
    display: inline-block;
}

#item-filters > ul ul,
#item-filters li,
#search-filters > ul ul,
#search-filters li {
    display: inline-block;
    margin: 0;
}

#item-filters li li:not(:last-child):after,
#search-filters li li:not(:last-child):after {
    content: ", "
}

.browse-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.items-nav {
    max-width: 50%;
    float: left;
}

.browse-header ul,
.items-nav ul {
    margin: 0;
}

.browse-header li,
.items-nav li,
#sort-links-list,
.sort-links-list {
    display: inline-block;
}

.secondary-nav li {
    margin-right: $spacing-m;

    &.active {
        font-weight: bold;
    }
}

.secondary-nav {
    margin-right: auto;
}

#sort-links-list,
.sort-links-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: $spacing-m;
}

#sort-links-list li,
.sort-links-list li {
    margin-right: $spacing-l;
}

#sort-links-list li a:before,
.sort-links-list li a:before {
    @include lnr;
    display: inline-block;
    margin-right: $spacing-s;
}

#sort-links-list li:first-child a:before,
.sort-links-list li:first-child a:before {
    content: $lnr-book;
}

#sort-links-list li:nth-child(2) a:before,
.sort-links-list li:nth-child(2) a:before {
    content: $lnr-user;
}

#sort-links-list li:nth-child(3) a:before,
.sort-links-list li:nth-child(3) a:before {
    content: $lnr-calendar-full;
}

#sort-links-list .sorting a,
.sort-links-list .sorting a {
    font-weight: bold;
    opacity: 1;
}

#sort-links-list .sorting a span:after,
.sort-links-list .sorting a span:after {
    @include lnr;
    content: $lnr-sort-amount-asc;
    margin-left: $spacing-s;
    font-size: .875 * $base-font-size;
    display: inline-block;
}

#sort-links-list .sorting.desc a:after,
.sort-links-list .sorting.desc a:after {
    transform: scaleY(-1);
}

.pagination-nav {
    margin-left: 2 * $spacing-l;
    float: right;
}

ul.pagination {
    margin: 0;
}

.pagination li {
    margin-left: $spacing-m;
    display: inline-block;
}

.pagination a:before {
    @include lnr;
}

.pagination [rel="prev"]:before {
    content: $lnr-chevron-left;
}

.pagination [rel="next"]:before {
    content: $lnr-chevron-right;
}

.pagination input[type="text"] {
    border: 1px solid $border-gray;
    width: 1.5 * $spacing-l;
    text-align: right;
    color: #555;
    padding: 0 $spacing-m;
    line-height: $base-line-height;
    margin: 0 $spacing-s 0 0;
}

.page-input form {
    display: flex;
    align-items: center;
}

.browse .records {
    margin: 0 (-$spacing-l);
}

.hTagcloud {
    clear: both;
    margin-top: 3 * $spacing-l;
}

.hTagcloud ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.hTagcloud li {
    background-color: $border-gray;
    padding: $spacing-s;
    margin: 0 $spacing-s $spacing-s 0;
    list-style-type: none;
}

.popular {
    font-size: 100%;
}

.v-popular {
font-size: 140%;
}

.vv-popular {
font-size: 180%;
}

.vvv-popular {
font-size: 190%;
}

.vvvv-popular {
font-size: 200%;
}

.vvvvv-popular {
font-size: 210%;
}

.vvvvvv-popular {
font-size: 220%;
}

.vvvvvvv-popular {
font-size: 230%;
}

.vvvvvvvv-popular {
font-size: 240%;
}

/* @end */

/* @group ----- Collections/Browse and Exhibits/Browse----- */

.browse.collections .records,
.browse.exhibits .records {
    display: flex;
    margin: $spacing-l 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browse.collections .record,
.browse.exhibits .record {
    background-size: cover;
    background-position: center center;
    width: calc(50% - #{$spacing-m});
    position: relative;
    min-height: 25vh;
    margin: 0 0 $spacing-l;
}

.browse.collections .record-meta:before,
.browse.exhibits .record-meta:before {
    content: "";
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.browse.collections .record a,
.browse.exhibits .record a {
    position: relative;
    color: #fff;
}


.browse .record {
    margin: $spacing-l 0;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: darken($border-gray, 30%);
}

.browse .record h2 {
    margin: 0;
    position: relative;
    font-size: 1.75 * $base-font-size;

    a {
        display: inline-block;
        padding: $spacing-s $spacing-m;
        background-color: #000;
    }
}

.browse .record .image{
    margin-right: $spacing-l;
    display: block;
    width: 30%;
}

.browse .record .image img {
    width: 100%;
}

.browse .record-meta {
    text-align: center;
    padding: $spacing-l;
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    width: 100%;
}

.browse .image + .record-meta {
    padding-left: 0;
}

.view-items-link {
    font-family: $heading-font;
    text-transform: uppercase;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    text-align: center;
    width: 100%;
}

/* @end */

/* @group ----- Collections/Show ----- */

.items.browse .flex,
.collections.show .flex {
    border-bottom: 1px solid $border-gray;
    margin: 0 (-$spacing-l);
}

.collection-meta {
    width: 25%;
    order: 2;
    border-left: 1px solid $border-gray;
    padding: 0 $spacing-l;
    margin-left: $spacing-l;
}

.collection-meta .mobile-toggle {
    display: none;
}

#collection-items {
    width: calc(75% + #{$spacing-l});
    order: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 $spacing-l $spacing-l;
}

#collection-items h2 {
    width: 100%;
    text-align: center;
}

#collection-items #item-filters ul {
    padding: $spacing-l $spacing-l 0;
    margin: 0;
}

#collection-items #item-filters .collection {
    display: none;
}


#collection-items .view-items-link:before {
    content: "";
    width: 50%;
    margin: auto;
    border-top: 1px solid $border-gray;
    display: block;
    padding-bottom: $spacing-l - 1px;
}

#collection-items .browse-header {
    padding: $spacing-l;
    width: 100%;
    justify-content: space-between;
}

/* @end */

/* @group ----- Exhibits/Page ----- */

.exhibits.summary .summary-header {
    color: #fff;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 70%;
    margin: auto;
    padding: (2* $spacing-l) $spacing-l;

    &:before {
        content: "";
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    h1 {
        position: relative;
        z-index: 1;
        background-color: #000;
        display: inline-block;
        padding: $spacing-s $spacing-m;
    }
}

.exhibits.show #content > h1 {
    text-align: center;
    width: 70%;
    margin: $spacing-l auto;
}

.exhibits.summary #primary, 
#exhibit-blocks,
#exhibit-pages {
    width: 70%;
    margin: auto;
}

#exhibit-pages ul {
    list-style: decimal;
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    font-family: $heading-font;
}

#exhibit-pages li {
    margin: $spacing-l 0;
}

.exhibit-block {
    overflow: hidden;
}

.exhibit-items + * {
    margin-top: 0;
}

.exhibit-items .download-file {
    text-align: center;
    background-color: $border-gray;

    &:last-child {
        margin-bottom: 2 * $spacing-l;
    }
}

.exhibit-items .download-file + .download-file {
    text-align: center;
    background-color: $border-gray;
    margin-top: $spacing-l;
}

.layout-file-text .exhibit-items > * {
    margin-bottom: $spacing-m;
}

.layout-file-text .exhibit-items.right {
    margin-left: 2 * $spacing-l;
}

.layout-file-text .exhibit-items.left {
    margin-right: 2 * $spacing-l;
}

.exhibit-item-caption {
    font-size: .875 * $base-font-size;
    margin-bottom: (2 * $spacing-l);
}

#exhibit-page-navigation #exhibit-nav-prev,
#exhibit-page-navigation #exhibit-nav-next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    font-family: $heading-font;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
    padding: ($spacing-l - 1px) 0;
    text-align: center;
    opacity: .6;

    &:hover {
        opacity: 1;
    }
}

#exhibit-nav-prev {
    left: $spacing-l;
}

#exhibit-nav-next {
    right: $spacing-l;
}

.current-page {
    display: none;
}

#other-exhibits {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

#other-exhibits .exhibit {
    width: calc(50% - #{2 * $spacing-l});
    margin: $spacing-l;
    text-align: center;
    position: relative;
}

#other-exhibits h2 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 1.25 * $base-font-size;
    border-bottom: 1px solid $border-gray;
    padding-bottom: $spacing-l - 1px;
}

#other-exhibits .exhibit h3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    margin: 0;
}

#other-exhibits .exhibit h3 a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: $spacing-l;
}

#other-exhibits img {
    width: 100%;
}

/* @end */

/* @group ----- Plugins ----- */

#geolocation-browse {
    margin-top: 3 * $spacing-l;
    clear: both;
}

#geolocation-browse #map-links li {
    background-color: $border-gray;
}

/* @end */