/* Small only < 640px */
/* @media screen and (max-width: 39.9375em) {} */

/* Medium and up 640px > */
/* @media screen and (min-width: 40em) {} */

/* Large and up 1024px > */
/* @media screen and (min-width: 64em) {} */

a,
.content-wrapper a {
  color: #9a3136;
}

a:hover,
.content-wrapper a:hover {
  color: #842e32;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;*/
  /*font-family: 'Lora', serif;*/
  font-family: 'Rosarivo', serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: #222;
  font-size: 2.3em;
}

button, ul, ol, dl, p {
font-family: 'Rosarivo', serif;
font-size: 1.2em;
}

.footer h3 {
font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.footer ul,
.footer ol,
.footer dl,
.footer p {
font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.init-cap {
font-family: 'Rosarivo', serif;
font-size: 3em;
display: block;
float: left;
line-height: 1em;
margin-right: 3px;
height: 50px;
color: #b7343a;
}

.uppercase {
text-transform: uppercase;
color: #b7343a;
}


/* BANNER */

.masthead-wrapper {
  background: #111;
  overflow: visible;
  background-image: linear-gradient(to right, #111 30%, #191919 1%, #191919 100%);
}

.masthead {
  display: flex;
  flex-wrap: nowrap;
  background-color: #111;
  padding: 0;
  padding: 13px 0 13px 13px;
}

@media screen and (min-width: 40em) {
  .masthead {
    flex-wrap: wrap;
  }

  .masthead::before {
    content: '';
    background-color: #111;
  }
}

.library-logo,
.exhibits-logo {
  background-color: #111;
  padding: 0;
}

.library-logo {
  width: 100px;
}

.exhibits-logo {
  width: 175px;
}

@media screen and (min-width: 40em) {
  .library-logo {
    padding: 0;
  }
  
  .exhibits-logo {
    padding: 0;
  }
}

.library-logo,
.exhibits-logo,
.logo-spacer {
  z-index: 1;
}

/* .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
} */


/* NAVIGATION */

#nav .title-bar {
  width: 100%;
  text-align: right;
}

#nav .title-bar button {
  color: #fff;
  background-color: #b7343a;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
  margin-right: 2em
}

#nav .title-bar button:hover {
  background-color: #9a3136 !important;
  color: #fff;
}

#nav .nav-wrapper {
  max-width: 100%;
  border-bottom: 5px solid #c33138;
  border-top: 5px solid #b7343a;
}

#nav {
  text-transform: uppercase;
  font-size: .9em;
  background: #b7343a;
  background-image: url(../images/baskin_bg.jpg);
  padding-bottom: 2em;
}

#nav [type=button]:hover {
  background-color: unset !important;
}

#nav .title-bar-title {
  /* background-color: #636363; */
}

#nav .top-bar-section .title-bar .menu-icon {
  margin: 0.75em .25em 0.25em 0.5em;
}

nav.top-bar,
nav.top-bar ul {
  background-color: unset !important;
  padding: 0;
}

nav.top-bar ul.toggle-topbar {
  list-style: none;
}

@media only screen and (min-width: 58.75em) {
  /* nav.top-bar ul.toggle-topbar {
    display: none;
  } */
}

#nav ul.links li a:hover {
  text-decoration: none;
  background: #9a3136;
  color: #fff;
}

#nav ul.links ul.is-dropdown-submenu {
  border: 1px solid #9a3136;
  margin-left: .4em;
}

#nav ul.links ul.is-dropdown-submenu li.is-submenu-item a {
  font-size: .8em;
  text-transform: initial;
  border-bottom: 1px solid #9a3136;
  margin: 0;
  text-align: left;
  font-size: .75em;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0.35em 0.75em;
}

.dropdown.menu>li.is-active>a,
#exhibit-pages ul.dropdown>li.is-active>a,
.items-nav .dropdown.navigation>li.is-active>a {
  color: #fff;
}

nav.top-bar ul.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style-type: none;
  flex-grow: 1;
}

@media only screen and (min-width: 64em) {
  nav.top-bar ul.links {
    justify-content: space-between;
    flex-grow: 0;
  }

  #nav {
    background-color: #464646;
  }
}

.top-bar ul.links li {
  list-style: none;
  display: flex;
	flex-direction: column;
  justify-content: center;
  text-transform: initial;
}

@media only screen and (max-width: 39.9375em) {
  .top-bar ul.links li {
    width: 100%;
  }
}

.baskin-logo img {
  margin: 2.25em 1em 2em 1em;
  max-width: calc(100% - 50px);
}

.baskin-logo.homepage img {
  max-width: 720px;
  width: 100%;
}

.baskin-logo.subpage img {
  margin-bottom: 1em;
}

.top-bar ul.links li a {
  color: #fff;
  /* padding: 1em 1.25em; */
  padding: 0.1em 1em 0.1em 1em;
  font-weight: 600;
  white-space: nowrap;
}

.top-bar ul.links li a:hover {
  background: #262626;
  text-decoration: underline;
  transition: 0s;
}

.top-bar ul.links li.active a {
  background: #262626;
}

.top-bar-section .title-bar .menu-icon {
  margin: 0.75em 0 0.25em 0.25em;
}


/* NAV */

#nav ul.links li a {
  display: inline-block;
  font-size: 1em;
  background: #b7343a;
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 2.1em;
  border-bottom: 1px solid #9a3136;
  text-align: right;
}

#baskin-menu {
  justify-content: left;
}
 
@media screen and (min-width: 40em) {
  #baskin-menu {
    justify-content: center;
  }

  #nav ul.links li a {
    margin: 0 0.5em 0 0.5em;
    border-bottom: none;
    text-align: center;
  }
}



/* CONTENT HEADER */


.content-header {
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
}

.content-header h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-top: 1em;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.content-header h1.item-title {
  font-size: 2rem;
  line-height: 1.6;
  hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
}

.content-header h1 .dates {
  text-transform: lowercase;
  font-size: 115%;
}


.content-header h2 {
  text-align: center;
  text-transform: uppercase;
  color: #c33633;
  letter-spacing: .05em;
  margin-top: 1em;
}

.content-header h3 {
  text-align: center;
  font-style: italic;
  line-height: 1.6;
}

.dashed-hr {
  height: 1em;
  border-bottom: 1px dotted #e3e3e3;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.layout-file-text .exhibit-items {
    max-width: 100%;
}

/* @media only screen and (min-width: 640px) {

  .content-header h1 {
    font-size: 2.3rem;
  }
  .layout-file-text .exhibit-items {
    max-width: 40%;
  }

  .content-header h3 {
    font-size: 1.35rem;
    margin-right: 25%;
    margin-left: 25%;
  }

  .content-header h2 {
    font-size: 1.7rem;
  }

} */



/* CONTENT */

body,
#content,
.off-canvas-content {
  background-color: #eee;
}

#content {
  padding-bottom: 0 !important;
}

#content .grid-container {
  background-color: #fff;
}

#content .wrap {
  padding-top: 1em;
}

#exhibit-content {
  padding: 2em;
}

#exhibit-content .current-page {
  display: none;
}

#exhibit-content a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 961px) {
  .graph-columns {
      columns: 2;
      column-gap: 50px;
  }
}


/* BREADCRUMBS */

.breadcrumb {
  padding-left: 1em;
}

.breadcrumb a {
  color: #676767;
}

.breadcrumb a:hover {
  color: #9a3136;
  text-decoration: underline;
}


/* Harmful language */

#harmful-language-statement {
  font-size: .9em;
}

#harmful-language-statement p {
  margin-bottom: 0;
}


/* EXHIBIT DATES */

#date-wrapper {
  background: #c3c3c3;
}

.exhibit-dates {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  background: #c3c3c3;
  padding-top: 1.25em;
  padding-bottom: 0.75em;
}

.exhibit-dates p {
  margin-bottom: 0;
}

.exhibit-dates .diamond {
  font-family: Arial, sans-serif;
  color: #b7343a;
  font-size: 1.5em;
  line-height: 1px;
  margin-right: 0.125em;
  margin-left: 0.125em;
}

.exhibit-dates .location {
  font-size: .9rem;
  text-transform: uppercase;
}

/* FOOTER */

#footer-wrapper,
footer {
  background-color: #333;
}

@media only screen and (max-width: 39.9375em) {
  footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

footer address,
footer h2,
footer h3,
footer li,
footer p,
footer a {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  color: #aaa;
}

footer a:hover {
  text-decoration: underline;
}

footer ul li {
  font-size: 1em;
  font-size: .85em;
  line-height: 1.1;
  margin-bottom: .5em;
}

footer h2, 
footer .social-media-icons {
  border-bottom: 1px dotted #aaa;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.375em;
  font-weight: 400;
}

footer .social-media-icons {
  padding-bottom: 0;
}

footer .social-media-icons a {
  height: 1.4rem;
  width: 1.4rem;
  color: #777;
}

footer .social-media-icons a:hover {
  color: #666;
  text-decoration: none;
}

footer address {
  font-style: normal;
  font-size: .875em;
}
footer ul.list-unstyled {
  list-style: none;
  margin-left: 0;
}

footer #omeka_login_url a {
  font-weight: 700;
  border: 1px solid #222;
  padding: .25em .5em;
  color: #eee;
  background: #6e2125;
  font-weight: normal;
  font-size: .9em;
  margin-top: 1.5em;
  display: inline-block;
}

footer .right-gutter {
  margin-right: 2em;
}

footer .devillogo img, 
footer .dukelogo img {
  filter: brightness(400%) grayscale(100%);
}

/* EXHIBIT CONTENT */

@media screen and (min-width: 40em) {
  #exhibit-content h2 {
    font-size: 2.3em;
  }
  #exhibit-blocks h3 {
    font-size: 1.6875em
  }
}

#exhibit-blocks p,
#exhibit-blocks li {
  font-size: 1.2em;
}

#exhibit-blocks li {
  margin-bottom: 0.5em;
}

#exhibit-blocks .exhibit-item a.download-file {
  max-width: 100%;
  margin-bottom: 1em;
}

#exhibit-blocks .exhibit-items img {
  width: 100%;
}

#exhibit-blocks .exhibit-item-caption {
  margin-bottom: 2em;
}

#exhibit-blocks .exhibit-item-caption p {
  color: #767676;
  font-size: 1.em;
  line-height: 1.2;
  /* line clamp */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#exhibit-blocks .exhibit-gallery-item .exhibit-item-caption p {
  font-size: 1.2em;
}

#exhibit-pages .exhibit-description {
  font-size: .95em;
}

/* EXHIBIT NAV */
#exhibit-page-navigation,
.item-navigation {
  font-family: 'Rosarivo', serif;
  font-weight: normal;
  line-height: 1.2;
}

.item-navigation {
  font-size: 1.2em;
  padding-bottom: 1em;
}

#exhibit-page-navigation {
  margin-top: 2em;
  margin-bottom: 0;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
}

#exhibit-page-navigation div {
  margin-bottom: 1em;
  width: calc(100% - 2em);
}

@media only screen and (min-width: 40em) {
  #exhibit-page-navigation div {
    width: calc(50% - 2em);
  }
}

#exhibit-nav-prev {
  text-align: left;
}

#exhibit-nav-next {
  text-align: right;
  flex-grow: 1;
}

#exhibit-page-navigation .next-page, 
#exhibit-page-navigation .previous-page {
  width: auto;
  height: auto;
  background-color: unset;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #9a3136;
  font-size: 1em;
}

#exhibit-page-navigation .next-page:hover, 
#exhibit-page-navigation .previous-page:hover {
  text-decoration: underline !important;
  background-color: unset;
  color: #842e32;
}

#exhibit-page-navigation .next-page:before,
#exhibit-page-navigation .previous-page:before {
  content: '';
}

#exhibit-page-navigation .next-page:before {
  content: '(next page) ';
  font-weight: 400;
}

#exhibit-page-navigation .previous-page:after {
  content: ' (previous page)';
}

.thumbnail, .item-file>a {
  border: none;
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a {
  padding-right: 2em
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  margin-right: 9px;
}


#exhibit-blocks ul {
  margin-left: 1.5em;
}

#exhibit-blocks ul li {
  margin-bottom: 0.5em;
  font-size: 1em !important;
}

/* Gallery */

.exhibit-block.layout-gallery .gallery {
  align-items: flex-start
}

.layout-gallery .gallery .exhibit-item, 
.layout-gallery .gallery .exhibit-item:nth-of-type(2n) {
  max-width: 50%;
  width: 22.5%;
  margin: 0;
  margin-right: 2.5%;
  margin-bottom: 1%;
}

.layout-gallery .gallery .exhibit-item img {
  /* margin-bottom: .5em; */
}


/* Lightbox */

#lightbox .lb-data .lb-close {
  background: url(../images/close_black.png) top right no-repeat;
}

#lightbox .lb-image {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#lightbox .lb-dataContainer {
  background: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#lightbox .lb-data .lb-caption {
  font-size: 1em;
}

#lightbox .lb-data .lb-caption p {
  color: #222;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

#lightbox .lb-data .lb-caption .title {
  text-transform: uppercase;
  display: block;
}

#lightbox .lb-data .lb-caption .item-link {
  text-align: center;
  margin-bottom: -1rem;
  margin-left: 30px;
  font-size: .95em;
}

#lightbox .lb-data .lb-details {
  min-height: 3.5em;
}


/* Item Page */


/* body.show h1 {
  font-size: 2.3125em;
  color: #767676;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
} */


/* Intro Content */

.intro-nav h3 a {
  text-decoration: underline;
}

.intro-nav ul {
  list-style: none;
}

.intro-nav ul li {
  line-height: 1.4;
  padding-bottom: 0.25em;
}

#exhibit-blocks .intro-nav ul li {
  font-size: 1em;
}

.intro-nav .essay-author {
  font-size: .85em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  display: block;
}

.intro-content {
  overflow: hidden;
}

.intro-text-left p {
  margin-bottom: 0;
}

.intro-text-left {
  padding-left: 10px;
}

.intro-text-right {
  padding-right: 10px;
}

.intro-image-right,
.intro-image-left {
  shape-outside: circle(50%);
  margin: 30px;
}

.intro-image-right img,
.intro-image-left img {
  border-radius: 50%;
  width: 200px;
}

.intro-image-right,
.intro-image-left {
  text-align: center;
}

.intro-content h2 {
  font-size: 1.7rem !important;
  text-transform: uppercase;
  color: #c33633;
  letter-spacing: .05em;
  margin-top: 1em;
}

.essay h2 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.essay p {
  font-size: 1.1em;
}

.essay-image {
  margin-bottom: 2em;
  text-align: center;
}

.essay-image p {
  text-align: center;
  color: #888;
  margin-top: 0.5em;
  font-size: .9em !important;
}

.essay-image.right {
  float: right;
  margin-left: 25px
}

.essay-image.left {
  float: left;
  margin-right: 25px
}

.essay-image.single.right,
.essay-image.single.left {
  width: calc(50% - 25px);
  margin-top: 25px;
  margin-bottom: 25px;
}

.essay-image p {
  text-align: center;
  color: #888;
  margin-top: .5em;
  font-size: .9em;
}

.essay-image.single p {
  min-width: 50%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.essay-image p a {
  color: #888;
  text-decoration: underline;
}

.essay-image p a:hover {
  color: #9a3136;
  text-decoration: underline;
}

.intro-content p a {
  text-decoration: underline;
}

@media only screen and (min-width: 641px) {

  .intro-image-right {
    float: right;
  }

  .intro-image-left {
    float: left;
  }

  .intro-content {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }

  .intro-text-left {
    padding-left: 30px;
  }

  .intro-text-right p {
    padding-left: 50px;
  }

  .intro-text-right {
    padding-right: 30px;
  }

  .intro-text-left p {
    padding-right: 50px;
  }

  .intro-image-left {
    margin: 15px 15px 15px 0;
  }
  .intro-image-right {
    margin: 0 0 15px 15px;
  }

}


@media only screen and (min-width: 961px) {

  .intro-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  .essay {
    margin-left: 5%;
    margin-right: 5%;
  }

  .intro-text-left {
    padding-left: 60px;
  }

  .intro-text-right {
    padding-right: 60px;
  }

  .intro-image-left {
    margin: 30px 30px 30px 0;
  }
  .intro-image-right {
    margin: 0 0 30px 30px;
  }

  .row.intro-nav {
    margin-right: 12.5%;
    margin-left: 12.5%;
  }

}

@media only screen and (min-width: 1126px) {

  .intro-content {
    margin-left: 11%;
    margin-right: 11%;
    overflow: hidden;
  }

  .essay {
    margin-left: 5%;
    margin-right: 5%;
  }

  .intro-text-left {
    padding-left: 100px;
  }

  .intro-text-right {
    padding-right: 100px;
  }

}


/* MASONRY GRID */

#exhibit-blocks #masonry-container {
  margin-left: 32px;
}

#masonry-container .masonry-item {
  width: 100%;
  margin-bottom: 32px;
}

@media only screen and (min-width: 801px) {
  #masonry-container .masonry-item {
    width: calc(50% - 32px);
  }
}

@media only screen and (min-width: 1024px) {
  #masonry-container .masonry-item {
    width: calc(33% - 32px);
  }
}


#masonry-container .masonry-item {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 2em;
}

#masonry-container .masonry-item .image-wrapper {
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
} 

#masonry-container .masonry-item .text-wrapper {
  border: 1px solid #e6e6e6;
  padding: 1.25em 1em;
  background-color: #fff;
}

#masonry-container .masonry-item:hover .image-wrapper {
  border-top: 1px solid #c33633;
  border-left: 1px solid #c33633;
  border-right: 1px solid #c33633;
}

#masonry-container .masonry-item:hover .text-wrapper {
  border: 1px solid #c33633;
}

#masonry-container .masonry-item .text-wrapper a {
  color: #222;
}

#masonry-container .masonry-item .text-wrapper a:hover {
  text-decoration: none;
}

#masonry-container .masonry-item .text-wrapper h3 {
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: 600;
}

#masonry-container .masonry-item .text-wrapper p {
  font-size: 1.1em;
  line-height: 1.4;
}




/* ITEM PAGE */

.item-image-wrapper .item-file img,
.item-image-wrapper a.download-file {
  width: 100%;
}

@media only screen and (min-width: 801px) {
  .item-image-wrapper .image-jpeg {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
  }
}

.item-content-wrapper dl {
  display: flex;
  flex-wrap: wrap;
}


.item-content-wrapper dl dt {
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-top: 1px solid #eee;
  padding-top: 15px;
  color: #444;
}

.item-content-wrapper dl dd {
  width: 100%;
  padding-bottom: 15px;
  font-size: 1.1rem;
  width: 100%;
  margin: 0;
  word-break: break-word;
}

@media only screen and (min-width: 1024px) {

  .item-content-wrapper dl dt {
      width: 30%;
      text-align: right;
      padding-right: 10px;
  }

  .item-content-wrapper dl dd {
    margin-left: auto;
    width: 70%;
    margin: 0;
    border-top: 1px solid #eee;
    padding-top: 15px;
  }

}


/* iframe loader */
#iframe-loader iframe {
  background: #e3e3e3 url(../images/loading.gif) center center no-repeat;
}


body.items .item-file {
  margin-bottom: 2em;
}
